.main-nav__toggle-wrapper {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-nav__items--hidden {
  display: none; }

.main-nav__toggle {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #222222; }
  .main-nav__toggle::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #222222;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    -o-transition: top 0.2s linear 0.2s, -o-transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -moz-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -moz-transform 0.2s ease-in, -o-transform 0.2s ease-in; }
  .main-nav__toggle::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #222222;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    -o-transition: top 0.2s linear 0.2s, -o-transform 0.2s ease-in;
    -moz-transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -moz-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -moz-transform 0.2s ease-in, -o-transform 0.2s ease-in; }
  .main-nav__toggle.main-nav__toggle--active {
    background-color: transparent; }
    .main-nav__toggle.main-nav__toggle--active::before {
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0;
      -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
      transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
      -o-transition: top 0.2s linear, -o-transform 0.2s ease-in 0.2s;
      -moz-transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s, -o-transform 0.2s ease-in 0.2s; }
    .main-nav__toggle.main-nav__toggle--active::after {
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: 0;
      -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
      transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
      -o-transition: top 0.2s linear, -o-transform 0.2s ease-in 0.2s;
      -moz-transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -moz-transform 0.2s ease-in 0.2s, -o-transform 0.2s ease-in 0.2s; }

/*# sourceMappingURL=main-nav.css.map */
