@import "vars"


@media (max-width: 1655px)

  .sale__content p:first-child
    font-size: 40px;

  .sale__content p
    font-size: 90px;


@media (max-width: 1650px)

  .catalog-page__category
    .swiper-container-wrapper--buttons-outside
      width: 60%;

  .navbar-item
    &:not(:first-child)
      padding-left: 33px
    &:not(:last-child)
      padding-right: 33px

  .header__inner-wrapper, .navbar, main, .footer__navbar, .footer__columns
    width: 1350px

  .news
	  margin-left: calc( (-1) * ((100vw - 1350px) / 2 ))

  .features__wrapper
    width: 1300px

  .bestsellers__title, .recent1__title
    &:before
      right: -30px

  .reviews__slide
    align-items: flex-end

  .reviews__author, .reviews__date
    width: 280px

  .reviews__text
    width: 280px
    &:before
      right: -70px

@media (max-width: 1520px)

  .footer__columns
    flex-wrap: wrap
    position: relative

  .footer__column
    width: 25%
    &:last-child
      width: 35%
      position: absolute
      top: 0
      right: 0


@media (max-width: 1475px)

  .category-tiles__tile
    padding-left: 15px
    padding-right: 15px

  .category-tiles__tile-title
    &:before
      right: -30px

  .product-page__order-wrapper
    flex-direction: column
    width: 200px

  .product-page__features-wrapper
    flex-direction: column
    align-items: center
    padding-top: 40px
    .features__point
      margin-bottom: 30px

  .product-page__controls
    margin-top: 38px

  .reviews__text
    &:before
      right: -40px

  .navbar-item
    &:not(:first-child)
      padding-left: 20px
    &:not(:last-child)
      padding-right: 20px

  .header__inner-wrapper, .navbar, main, .footer__navbar, .footer__columns
    width: 1200px

  .news
	  margin-left: calc( (-1) * ((100vw - 1200px) / 2 ))

  .features__wrapper
    width: 1150px

  .bestsellers__title, .recent1__title
    &:before
      display: none

@media (max-width: 1385px)

  .catalog__button
    font-size: 20px;
    right: 40px;

  .sale__content p:first-child
    font-size: 35px;

  .sale__content p
    font-size: 80px;
    line-height: 100px;

@media (max-width: 1380px)

  .category-tiles__tile-title
    &:before
      right: -15px

  .category-tiles__wrapper
    justify-content: flex-start

  .category-tiles__tile
    width: 33%
    padding-left: 25px
    padding-right: 25px

  .category-tiles__tile3
    .category-tiles__tile-title
      &:before
        display: block

  .category-tiles__tile2, .category-tiles__tile5
    .category-tiles__tile-title
      &:before
        display: none       

  .header__search-input
    width: 238px
  .logo
    width: 178px
    height: 28px

  .navbar-item
    &:not(:first-child)
      padding-left: 11px
    &:not(:last-child)
      padding-right: 11px

  .header__inner-wrapper, .navbar, main, .footer__navbar, .footer__columns
    width: 1100px

  .news
	  margin-left: calc( (-1) * ((100vw - 1100px) / 2 ))

  .features__wrapper
    width: 1050px

  .reviews__author, .reviews__date
    width: 230px

  .reviews__text
    width: 230px


  .features__description
    &:before
      width: 150px
      left: 12px

@media (max-width: 1350px)
  #mainnav
    #menu
      display: block;
      font-size: 40px

  #mainnav
    ul
      display: none;
      text-align: left;
      top: 10px
      left: 50px
      position: absolute
      z-index: 9
      padding-left: 40px
      padding-right: 40px
      background-color: #fff
      li
        display: block;
        a
         display: block;




@media (max-width: 1210px)

  .catalog__title
    margin-block-end: 0
    margin-block-start: 0

  .catalog__content-button
    padding-top: 10px;
    padding-bottom: 10px;

  // .header__search-wrapper
  //   position: absolute
  //   top: 59px
  //   right: -28px
  .about__tile
    width: 46%

  .sale__content p:first-child
    font-size: 25px;
    line-height: 50px;

  .sale__content p
    font-size: 70px;
    line-height: 80px;


@media (max-width: 1200px)

  .category-tiles__tile
    .category-tiles__tile-title
      &:before
        display: none

  .header__inner-wrapper, .navbar, main, .footer__navbar, .footer__columns
    width: 960px

  .news
	  margin-left: calc( (-1) * ((100vw - 960px) / 2 ))

  .features__wrapper
    width: 900px

  .reviews__slide
    align-items: center

  .reviews__text
    &:before
      display: none

  .about__logo
    width: 280px
    height: 43px

@media (max-width: 1100px)

  .about__tile
    width: 100%
    min-height: 400px
    margin-bottom: 0

  .about__tile:nth-child(odd)
    margin-right: 0

  .about__tile:nth-child(even)
    margin-left: 0

  .about__text
    padding: 0

  .reviews
    h3
      margin-top: 150px

@media (max-width: 1000px)

  .category-tiles__tile
    width: 49%
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 60px

  .category-tiles__img-wrapper
    margin-bottom: 20px

  .category-tiles__tile-description
    margin-bottom: 10px

  .product-page__product
    .swiper-container-wrapper--buttons-outside
      width: 60%;

  .catalog__title
    font-size: 20px

  .catalog__content-button
    padding-top: 5px;
    padding-bottom: 5px;

  .catalog__description
    font-size: 16px

  .sale__content
    padding-left: 30px
    padding-right: 30px
    padding-top: 35px

  .sale__content p:first-child
    line-height: 30px;

  .sale__content p
    font-size: 60px;
    line-height: 50px;

  .sale__product--3
    display: none

  .header__inner-wrapper, .navbar, main, .footer__navbar, .footer__columns
    width: 90%

  .news
	  margin-left: calc( (-1) * (5vw))

  .features__wrapper
    width: 100%

  .features__description
    &:before
      width: 100px
      left: 40px

@media (max-width: 920px)
      
  .header__location span 
    display: none
  .header__search-wrapper 
    padding-left: 10px
  .swiper-container-wrapper--buttons-outside_menu
    margin-left: 30px !important
  .header__navbar-wrapper .swiper-container-wrapper--buttons-outside
    width: calc(100% - 140px)!important

@media (max-width: 950px)
   .footer__navbar
     display: none

@media (max-width: 900px)
  .footer__column
    width: 40%
    &:last-child
      width: 45%
      position: absolute
      top: 0
      right: 0

  .features__wrapper
    flex-wrap: wrap

@media (max-width: 800px)

  .features__point
    width: 48%

  .reviews__author, .reviews__date
    width: 80%

  .reviews__text
    width: 80%

  .sale__content
    padding-top: 30px

@media (max-width: 768px)

  .category-tiles__tile
    margin-bottom: 10px

  .category-tiles__tile-description
    margin-top: 10px
    margin-bottom: 0

  .category-tiles__price-button
    flex-direction: column

  .product-page__product
    .swiper-container-wrapper--buttons-outside
      width: 70%;

  .product-page__order-wrapper
    flex-direction: row

  .product-page__controls
    margin-top: 0

  .product-page__social, .product-page h1
    padding-left: 20px
    padding-right: 20px

  .product-page__table
    width: 70%
    margin-left: auto
    margin-right: auto

  .product-page__features-wrapper
    width: 100%
    margin-left: -40px
    flex-direction: row

  .product-page__product-wrapper
    flex-direction: column

  .product-page__product
    &:last-child
      width: 100%
      padding-left: 20px
      padding-right: 20px
      margin-top: 40px
    &:first-child
      width: 100%

  .sale__product
    width: 33%;

  .reviews
    .swiper-container-wrapper--buttons-outside
      width: 75%;

  .reviews__text
    width: 60%;

  .catalog-page__category
    width: 100%
    &:nth-child(odd)
     margin-right: 0

  .catalog-page
    .catalog__button
      font-size: 18px;
    h1
      font-size: 20px;

  .text
    h2
      font-size: 20px;
    h4
      font-size: 20px;
  .recent
    h3
      font-size: 20px;
  .news
    h3
      font-size: 20px;

  .features__wrapper
    width: 90%

@media (max-width: 750px)

  .catalog__button
    right: 72px;

  .catalog__title
    font-size: 28px

  .catalog__description
    font-size: 20px

@media (max-width: 700px)

  .category-text__img-text
    margin-bottom: 70px
    img
      width: 100%
      height: auto
      float: none
      margin-right: 0
      margin-bottom: 50px

  .hero__content
    h1
      font-size: 60px
      line-height: 60px
  .confidentiality
    font-size: 12px

  .news
    button
      height: 39px

    input[type="text"]
      width: 200px
      height: 40px

  .header__location, .header__location-popup, .header__location-popup-triangle, .boxclose
   display: none
@media (max-width: 678px)
  #menubtn
    display: block
  #menu
    display: none

  .header__navbar-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    width: 90%

@media (max-width: 650px)

  .product-page__features-wrapper
    flex-direction: column
  .header__search-wrapper  
    display: none

@media (max-width: 625px)

  .sale__content
    padding-left: 30px
    padding-right: 30px
    padding-top: 35px

  .sale__content p:first-child
    line-height: 25px;
    font-size: 18px;

  .sale__content p
    font-size: 50px;
    line-height: 35px;

@media (max-width: 580px)

 .product-page__order-wrapper
    flex-direction: column

 .product-page__controls
    margin-top: 38px

@media (max-width: 550px)

  .category-tiles__tile
    width: 100%
    margin-left: 0
    margin-right: 0

  .tabs
    a
      font-size: 14px
      padding-left: 15px
      padding-right: 15px
      margin-right: 5px

  .reviews__text
    width: 90%;


  .header__search-wrapper
    top: 57px
    right: 0

  .catalog__button
    right: 20px;

  .sale__content
    padding: 20px

  .confidentiality
    flex-direction: column
    text-align: center

  .hero__content
    margin-left: 20px

  .logo
    width: 100px
    height: 16px
    margin-bottom: 4px;

  .footer__column
    width: 100%;
    &:last-child
      width: 100%;
      position: static;
      top: 0;
      right: 0;

@media (max-width: 500px)

  .product-page__product
    .swiper-container-wrapper--buttons-outside
      width: 55%;

  .subscribe
    display: flex
    flex-direction: column

  .news
    button
      margin-left: 0
      margin-top: 20px

@media (max-width: 450px)

  .search-page__search-wrapper
    button
      padding-left: 20px
      padding-right: 20px
      margin-left: 0px

  .catalog__title
    font-size: 20px

  .catalog__description
    font-size: 16px
    line-height: 30px;

  .sale__content
    padding-top: 40px

  .sale__content p:first-child
    font-size: 30px;
    line-height: 60px;

  .sale__content p
    font-size: 90px;
    line-height: 70px;

  .sale
    flex-wrap: wrap
    width: 100vw
    margin-left: calc( (-1) * 5vw)

  .sale__product
    width: 100%

  .features
    h2
      font-size: 22px

  h3
    font-size: 20px

  .recent__title
    font-size: 12px;

  .bestsellers__title, .recent1__title
    font-size: 12px;

  .sale__product--1
    display: none

  .hero__content
    h1
      font-size: 50px
      line-height: 50px

    h4
      font-size: 20px
      line-height: 20px

@media (max-width: 400px)

  .product-page__icon
    margin-right: 10px;

  .features__point
    width: 90%

@media (max-width: 375px)
  .pagination
    p
      display: none
  .search-page__search-wrapper 
    input 
      width: 70%

@media (max-width: 370px)
  .tabs
    a
      font-size: 14px
      padding-left: 10px
      padding-right: 10px
      margin-right: 0

  .product-page__table
    margin-left: 0
    width: 100%


@media (max-width: 350px)

  .product-page__icon
    margin-right: 5px;

  .header__search-input
    width: 200px

/*==========  Mobile First  ==========*/

// ≤576px


// ≤768px


// ≤992px


// ≤1200px

