html, body {
    height: 100%;
}
html {
    font-size: 100%;
}
body{
    background: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #323232;
    display: flex;
    flex-direction: column;

}
h1{
    font-size: 24px;
    font-weight: bold;
    color: #0679E3;
}
.text-bold{
    font-weight: bold;
}
.gbs-content {
    flex: 1 0 auto;
    background-color: #F1F1F1;
}
.footer {
    flex-shrink: 0;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: center;

}
.navbar {
    background-color: #F1F1F1;
}
.navbar-item, .navbar-link {
    color: #000000;
    padding: 1.8rem 0.75rem;
    font-weight: 600;
    font-size: 14px;
}
.navbar-brand{
    align-items: center;
}
a.navbar-item:hover,  a.navbar-item.is-active, .navbar-brand .navbar-link:hover, .navbar-brand .navbar-link.is-active {
    background-color: #f2f2f2;
    color: #0679E3;
}
.gbs-navbar-item-brand span{
    color: #0679E3;
}
.gbs-navbar-item-brand {
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    padding: 1.8rem 0.75rem!important;
}

.gbs-disabled{
    color: rgba(0, 0, 0, 0.2);
}
.svg-lock{
    margin-top:-25px;
}
.svg-hero{
    margin-left: 25px;
}
.fa-sort-down{
    margin-left:7px;
    font-size: 11px;
    margin-bottom: 4px;
}
.owl-nav{
    position: absolute;
}
.gbs-products-table-wrapper{
    display:flex;
    flex-direction: column;
    justify-self: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.gbs-products-table-wrapper table{
    margin-top: 30px;
    overflow: auto;
    display: block;
}
.gbs-products-table-wrapper table th{
    background: #D0D0D0;
    height: 71px;
    vertical-align: middle;
    text-align: center;
}
.gbs-products-table-wrapper table th:first-child{
    background: #F1F1F1;

}
.gbs-products-table-wrapper table td{
    height: 30px;
    vertical-align: middle;
    text-align: center;
}
.gbs-products-table-wrapper table td:first-child{
    background: #D0D0D0;
}
.gbs-products-table-wrapper table tr:nth-child(odd){
    background: rgba(139, 143, 140, 0.2);
}
.gbs-products-table-wrapper table tr:nth-child(odd) td{
    border-right: 1px solid #F1F1F1;
}
.process-hero{
    display: flex;
    background-color: #4780b5;
    height: calc(100vh - 85px);
    position: relative;
    overflow: hidden;
}
.process-hero h1{
    position: absolute;
    color:#fff;
    left:14rem;
    top:3.5rem;
}
.process-hero p{
    right:12rem;
    top:8rem;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
}
.process-hero-molecule-ellipse{
    padding-left: 14rem;
    padding-right: 2rem;
    padding-top: 8rem;
}
.process-hero-molecule{
    position: absolute;
    bottom:11%;
    left:19%;
}
.process-hero-arrow{
    padding-right: 2rem;
    padding-top: 8rem;
}
.process-hero-materials{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    background: linear-gradient(182.2deg, rgba(6, 121, 227, 0.5) 0.8%, rgba(255, 255, 255, 0) 82.71%);
    border-radius: 30px 0px 0px 0px;
    padding:40px;
    position: relative;
    width: 50%;
    max-width: 610px;
    height: 65%;
    float:right;
}
.process-hero-materials-line{
    position: absolute;
    bottom:0;
    right:0;

}
.process-hero-materials h2{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFD687;
    margin-bottom: 30px;
}
.process-hero-materials ol {
    padding-left: 20px;
    z-index: 9999;
}
.process-hero-materials ol li{
     line-height: 30px;
     color: #FFFFFF;
 }
.process-hero-materials ol li:first-child{
    line-height: 15px;
}
.process-hero-materials ol li span{
    font-size: 14px;
    line-height: 30px;
}
.bg-image-hero-company{
    background-image:url('../img/hero-company-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-achievement{
    background-image:url('../img/hero-achievement-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-business{
    background-image:url('../img/hero-business-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-lab{
    background-image:
    linear-gradient(304.59deg, rgba(67, 151, 103, 0.33) 3.77%, rgba(194, 194, 194, 0.33) 93.04%),
            url('../img/hero-lab-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-mission{
    background-image:url('../img/hero-mission-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-partners{
    background-image:url('../img/hero-partners-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-patents{
    background-image: url('../img/hero-patents-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-products{
    background-image:linear-gradient(0deg, rgba(50, 133, 85, 0.8), rgba(50, 133, 85, 0.8)),
    url('../img/hero-products-1920x307-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-a-product{
    background-image:linear-gradient(0deg, rgba(50, 133, 85, 0.8), rgba(50, 133, 85, 0.8)),
    url('../img/hero-products-1920x307-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-team{
    background-image: url('../img/hero-team-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-image-hero-tech{
    background-image: url('../img/hero-tech-1920x350-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.products-logo{
    font-family: Lemon;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 230px;
    text-align: center;
    color: #355643;
}
.products-name{
    position: absolute;
    top:65%;
    left: 40%;
    font-family: Lemon;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 28px;
    text-align: center;
    color: #EEC067;
}
.gbs-tech-img-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gbs-tech-img{
    display: flex;
    align-self: center;
}
.gbs-patents-brands{
    padding-left:8rem;
    padding-right:8rem;
    padding-top:45px;
    padding-bottom:45px;
    overflow: hidden;
    background-color: #D7D7D7;
}
.gbs-patents-brands-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gbs-patents-brand{
    width: 234px;
    height: 127px;
    margin-left: 17px;
    margin-right: 17px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.gbs-patents-brand p{
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}
.gbs-patents-brand1{
    background: linear-gradient(0deg, rgba(6, 121, 227, 0.5), rgba(6, 121, 227, 0.5)), url(../img/brand1.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}
.gbs-patents-brand2{
    background: linear-gradient(0deg, rgba(241, 186, 82, 0.5), rgba(241, 186, 82, 0.5)),  url(../img/brand2.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}
.gbs-patents-brand3{
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../img/brand3.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}
.team-wrapper {
    display: flex;
    justify-content: space-between;
}
.team-card{
    display: flex;
    height: 315px;
    width: 50%;
}
.team-card:first-child{
    margin-right: 10px;
}
.team-card:last-child{
    margin-left: 10px;
}
.team-card img{
    width: 194px;
    height: 315px;
}

.team-description{
    display: flex;
    flex-direction: column;
    background: #DFDFDF;
    padding:20px;
}
.team-description h6{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

}
.team-description p span{
    font-style: italic;
    font-size: 12px;

}
.team-description p{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 7px;
}
.team-consultant-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:80px;
    padding-bottom:80px;
}
.team-consultant-h1{
    margin-left: 30px;
}

.gbs-content-column{
    padding-top:45px;
    padding-bottom:70px;
    padding-left:8rem;
    padding-right:8rem;
    overflow: hidden;
}
.gbs-tree-wrapper{
    padding-top:45px;
    padding-bottom:70px;
    padding-left:2rem;
    padding-right:2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.microbial-protein{
    width: 300px;
    height: 213px;
    background: linear-gradient(180deg, #206EB7 0%, rgba(255, 255, 255, 0) 100%), url('../img/tree-bacteria-min.jpg'), #C4C4C4;
    border-radius: 30px;
    position: relative;
}
.microbial-protein-p{
    width: 100%;
    background: #0679E3;
    border-radius: 0px 0px 30px 30px;
    color:#fff;
    position: absolute;
    bottom:0;
    left:0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.waste{
    width: 100%;
    height: 213px;
    background: url('../img/tree-waste-min.jpg'), #C4C4C4;
    border-radius: 30px;
    position: relative;
}
.waste-p{
    width: 100%;
    background: #0679E3;
    border-radius: 0px 0px 30px 30px;
    color:#fff;
    position: absolute;
    bottom:0;
    left:0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.food{
    width: 200px;
    height: 200px;
    background: url('../img/food-min.jpg');
    position: relative;
}
.food-p{
    width: 100%;
    background: #FFD687;
    position: absolute;
    bottom:0;
    left:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000
}
.forage{
    width: 200px;
    height: 200px;
    background: url('../img/tree-forage-min.jpg');
    position: relative;
}
.forage-p{
    width: 100%;
    background: #FFD687;
    position: absolute;
    top:0;
    left:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000
}

.forage-list{
    width: 100%;
    position: absolute;
    bottom:10px;
    left:0;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}
.bio-fertilizer{
    width: 200px;
    height: 200px;
    background: url('../img/bio-fertilizer-min.jpg');
    position: relative;
}
.bio-fertilizer-p{
    width: 100%;
    background: #FFD687;
    position: absolute;
    bottom:0;
    left:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000;
}
.medicines{
    width: 140px;
    height: 200px;
    background: url('../img/Medicines-min.jpg');
    position: relative;
}
.medicines-p{
    width: 100%;
    background: #FFD687;
    position: absolute;
    top:0;
    left:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000;
}
.perfumery{
    width: 140px;
    height: 200px;
    background: url('../img/perfumery-min.jpg');
    position: relative;
}
.perfumery-p{
    width: 100%;
    background: #FFD687;
    position: absolute;
    top:30%;
    left:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000;
}
.cosmetics{
    width: 140px;
    height: 200px;
    background: url('../img/cosmetics-min.jpg');
    position: relative;
}
.cosmetics-p{
    width: 100%;
    background: #FFD687;
    position: absolute;
    bottom:0%;
    left:0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #000000;
}
.tree-dna{
    width: 200px;
    height: 120px;
    background: url('../img/tree-dna-min.jpg');
    position: relative;
}
.tree-dna-p{
    width: 100%;
    position: absolute;
    bottom:45px;
    left:0;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}
.food-protein{
    width: 200px;
    height: 120px;
    background: url('../img/food-protein-min.jpg');
    position: relative;
}
.food-protein-p{
    width: 100%;
    position: absolute;
    bottom:50px;
    left:0;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
}
.tree-rectangle{
    padding:25px;
    background-color: #5782AA;
    color:#fff;
}
.tree-circle{
    padding-top: 60px;
    width: 160px;
    height: 160px;
    background-color: #5782AA;
    color:#fff;
    border-radius: 80px;
}

.gbs-tech-button-wrapper{
    padding-top:45px;
    padding-bottom:70px;
    padding-left:8rem;
    padding-right:8rem;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gbs-content-column-team{
    padding-top:45px;
    padding-bottom:70px;
    padding-left:4rem;
    padding-right:4rem;
    overflow: hidden;
}
.gbs-content-column p{
    margin-bottom:20px;
}
.owl-carousel{
    overflow: hidden;
}
.hero-body {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}
.hero-body-a-product{
    display: flex;
    justify-content: center;
    position: relative;
}
.bg-image-hero-products{
    padding-top: 59px;
    padding-bottom: 59px;
}
.hero-body-products{
    display: flex;
    justify-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
    flex-wrap: wrap;
}
.bg-image-hero-products h1{
    padding-bottom: 1rem;
    padding-left: 8rem;
    font-weight: 300;
    font-size: 26px;
    line-height: 43px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.product-card{
    display: flex;
    flex-direction: column;
    margin:10px;
    width: 243px;
}
.bg-product-card1{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 3px;
    width: 243px;
    height: 170px;
    background:  url('../img/product-card1-min.jpg');
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bg-product-card2{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 3px;
    width: 243px;
    height: 170px;
    background:  url('../img/product-card2-min.jpg');
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bg-product-card3{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 3px;
    width: 243px;
    height: 170px;
    background:  url('../img/product-card3-min.jpg');
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bg-product-card4{
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    border-radius: 3px;
    width: 243px;
    height: 170px;
    background:  url('../img/product-card4-min.jpg');
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-card p span{
    font-family: Lemon;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #EEC067;
}
.product-card p{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.17px;
    color: #FFFFFF;
}
.product-h1{
    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #222222
}
.img-products-duck{
    float:right;
    width: 45%;
    margin-left: 40px;
    margin-bottom: 40px;
}
.product-p{
    width: 75%;
}
.product-card-button{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #0679E3;
    text-align: center;
    width: 145px;
}
.process-button{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #0679E3;
    text-align: center;
    width: 145px;
    margin-left: 40px;
}
.process-button-download{
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    color: #fff;
    background-color: #0679E3;
    width: 350px;
    z-index: 9999;
    margin-left: 4rem;
    margin-top: 10px;
}
.product-card-button:hover, .process-button:hover, .process-button-download:hover{
    color: #fff;
    background-image: linear-gradient(to right top, #0679e3, #0676db, #0772d3, #096fcc, #0b6bc4);
}
.img-lab-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-lab1, .img-lab2, .img-lab3{
    margin-left: 10px;
    margin-right: 10px;
}
.img-lab1{
    margin-left: 0px;
}
.img-lab3{
    margin-right: 0px;
}
.gbs-hero-text-container{
    background-color: rgba(51, 67, 88, 0.9);
    width: 345px;
    height: 350px;
    position: relative;
}
.gbs-owl-slide-1{
    background-image:url('../img/index-slide-1-1920x1080-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}
.gbs-owl-slide-2{
    background-image:url('../img/index-slide-2-1920x1080-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}
.gbs-owl-slide-3{
    background-image:url('../img/index-slide-3-1920x1080-min.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gbs-owl-slide{
    display:flex;
    flex-direction: column;
    height: calc(100vh - 85px);
}
.gbs-owl-slide-text-container{
    margin-top: 15%;
    margin-left: 10%;
}

.gbs-owl-slide-text-container h1{
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
    color: #FFFFFF;
}
.gbs-owl-slide-arrow-container{
    width: 612px;
    height: 142px;
    display:flex;
    align-items: center;
    margin-top: 5.5%;
    background: linear-gradient(89.17deg, rgba(47, 128, 237, 0.5) 20.66%, rgba(255, 255, 255, 0) 92.69%);
}
.slide-button{
    background-color: transparent;
    border:none;
    display:flex;
    align-items: center;
    width: 300px;
    cursor: pointer;
}
.box {
    background-color: transparent;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;

}
.vidresp{
    width:100%;
}
.icon-carousel-arrow-video{
    margin-left:19%;
    width:88px;
}
.gbs-owl-slide-arrow-container p{
    width: 200px;
    margin-left:10%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 1px;
    color: #FFFFFF;

}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
.owl-theme .owl-dots {
    bottom:30px;
    position: absolute;
    left:45%;
}
.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    margin: 5px 12px;
    background: transparent;
    border:1px solid #fff;
    border-radius: 0px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #167EDC;
    border:1px solid #167EDC;
}
.gbs-hero-text-container-technology{
    background: linear-gradient(272.69deg, #3F9494 2.04%, #2D5A5A 97.75%);
    opacity: 0.9;
    width: 345px;
    height: 350px;
    position: relative;
}
.owl-prev{
    margin-left:8%!important;
}
.owl-next{
    margin-right:8%!important;
}
.owl-nav {
    position: absolute;
    bottom:25px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.gbs-hero-text-container-header{
    background-color: #273342;
    width: 388px;
    height: 81px;
    position: absolute;
    margin-left: -43px;
    top:34px;
    display: flex;
    align-items: center;
}
.gbs-hero-text-container-header-technology{
    background-color: #264D4D;
    width: 388px;
    height: 81px;
    position: absolute;
    margin-left: -43px;
    top:34px;
    display: flex;
    align-items: center;
}
.gbs-hero-text-container-header h1{
    color:#FFFFFF;
    font-style: Bold;
    font-size: 24px;
    margin-top:26px;
    margin-left:34px;
}
.gbs-hero-text-container-header-technology h1{
    color:#FFFFFF;
    font-style: Bold;
    font-size: 24px;
    margin-top:26px;
    margin-left:34px;
}
.gbs-partners{

}
.gbs-partners-text-wrapper{
    padding-top:45px;
    padding-bottom:16px;
    background-color:#C2C2C2;
    padding-left:8rem;
    padding-right:8rem;
}

.gbs-partners-list{
    background: rgba(255, 255, 255, 0.3);
    list-style-type:disc;
    padding: 27px 21px;
    padding-left:50px;
}
.gbs-tech-list{
    list-style-type:disc;
    padding-left: 20px;
}
.gbs-partners-list li{
    margin-bottom: 30px;
}
.gbs-mission{
    display: flex;
    padding-left:8rem;
    overflow: hidden;
    position:relative;
}
.mission-circle-big-wrapper{
    width: 30%;

}
.mission-circle-big{
    position: absolute;
    bottom:32%;
    left:7%;
}
.gbs-mission-wrapper{
    background: rgba(194, 194, 194, 0.2);
    padding-top:45px;
    padding-bottom:70px;
    padding-right:8rem;
}
.gbs-mission-text-wrapper{
    margin-left:-6px;
}
.gbs-divider {
    background-color: #0679E3;
    border: none;
    display: block;
    height: 3px;
    margin-top: 14px;
}
.gbs-text-container p{
    padding-bottom:20px;
}
.gbs-text-container p:last-child{
    padding-bottom:0px;
}
.gbs-font-weight-600{
    font-weight: 600;
}


.footer{
    background: #272727;
    color: #FFFFFF;
    padding: 2.2rem 7.5rem 4rem;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}
.footer a {
    font-weight: normal;
    color: #FFFFFF;
}
.gbs-footer-column-wrapper{
    display: flex;
    flex-direction: column;

}
.gbs-footer-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.gbs-footer-column:last-child{
    text-align: right;
}
.container {
    max-width: 960px;
    width: 960px;
}
@media screen and (min-width: 1440px){
    .container {
        max-width: 1230px;
        width: 1230px;
    }
}
@media screen and (min-width: 1280px){
    .container {
        max-width: 1160px;
        width: 1160px;
    }
}




@media screen and (max-width: 1280px){
    .mission-circle-big{
        left:2%;
    }
}

@media screen and (max-width: 1250px){
    .team-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .team-card{
        display: flex;
        height: auto;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .team-card:first-child{
        margin-right: 0px;
    }
    .team-card:last-child{
        margin-left: 0px;
    }
    .team-description p{
        font-size: 1rem;
    }

}


@media screen and (max-width: 1155px){
    .gbs-products-table-wrapper{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .gbs-tech-img-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .gbs-tech-img{
        margin-bottom: 10px;
    }
}



@media screen and (max-width: 1087px){
    .navbar-item, .navbar-link {
        padding:0.75rem;
        padding-left:3rem;
        font-size: 18px;
    }
    .navbar-dropdown .navbar-item {
        padding-left: 5rem;
    }
    .mission-circle-big{
        left:-8%;
    }
    .gbs-mission {
        padding-left: 5rem;
    }
}
@media screen and (max-width: 1010px){
    .gbs-tree-wrapper{
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px){
    .gbs-tablet-hidden{
        display: none !important;
    }
    .mission-circle-big{
        left:-9%;
    }
    .gbs-mission-wrapper {
        padding-right: 4rem;
    }
}

@media screen and (max-width: 900px){
    .mission-circle-big{
        left:-10%;
    }
}
@media screen and (max-width: 830px){
    .gbs-tree-wrapper {
        width: 1010px;
        overflow: auto;
        display: block;
    }

    .gbs-content-column-team{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 768px){
    .team-card {
        flex-direction: column;
        align-items: center;
    }
    .product-p{
        width: 100%;
    }
    .gbs-patents-brands-wrapper{
        flex-direction: column;
    }
    .gbs-patents-brand{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .column.is-1{
        max-width: 8.33333%;
        min-width: fit-content;
    }
    .column.is-11{
        max-width: 91.66667%;
    }
    .columns {
        display: flex;
    }
    .mission-circle-big-wrapper {
        width: 0%;
    }
    .mission-circle-big{
        bottom:40%;
        left:-13%;
    }
    .gbs-mission-text-wrapper p{
        margin-left: 40px;
    }
    .svg-star{
        display:flex;
        justify-content: center;
    }
    .gbs-partners-text-wrapper{
        padding-left:4rem;
        padding-right:4rem;
    }
    .gbs-content-column{
        padding-left:4rem;
        padding-right:4rem;
    }
    .gbs-patents-brands{
        padding-left:4rem;
        padding-right:4rem;
    }
    .hero-body-products{
        padding-left:4rem;
        padding-right:4rem;
    }
    .bg-image-hero-products h1 {
        padding-left: 4rem;
    }
    .gbs-tech-button-wrapper{
        padding-left:4rem;
        padding-right:4rem;
    }
    .gbs-hero-text-container,.gbs-hero-text-container-technology{
        width: 150px;
    }
    .gbs-hero-text-container-header,.gbs-hero-text-container-header-technology {
        background-color: #273342;
        position: absolute;
        margin-left: -200px;
    }

    .footer{
        padding-left:4rem;
        padding-right:4rem;
    }
    footer .columns{
         display: flex;
         flex-direction: column;
     }
    footer .columns .column{
        flex-basis: auto;
    }
    .gbs-footer-column:last-child {
        text-align: left;
    }
    .owl-theme .owl-dots {
        left:9%;
    }
    .owl-nav{
        display: none;
    }
    .bg-image-hero-company{
        background-image:url('../img/hero-company-768x250-min.jpg');
    }
    .bg-image-hero-achievement{
        background-image:url('../img/hero-achievement-768x250-min.jpg');
    }
    .bg-image-hero-business{
        background-image:url('../img/hero-business-768x250-min.jpg');
    }
    .bg-image-hero-lab{
        background-image:
                linear-gradient(304.59deg, rgba(67, 151, 103, 0.33) 3.77%, rgba(194, 194, 194, 0.33) 93.04%),
                url('../img/hero-lab-768x250-min.jpg');
    }
    .bg-image-hero-mission{
        background-image:url('../img/hero-mission-768x250-min.jpg');
    }
    .bg-image-hero-partners{
        background-image:url('../img/hero-partners-768x250-min.jpg');
    }
    .bg-image-hero-patents{
        background-image:url('../img/hero-patents-768x250-min.jpg');
    }
    .bg-image-hero-products{linear-gradient(0deg, rgba(50, 133, 85, 0.8), rgba(50, 133, 85, 0.8)),
        background-image:url('../img/hero-products-768x200-min.jpg');
    }
    .bg-image-hero-a-product{linear-gradient(0deg, rgba(50, 133, 85, 0.8), rgba(50, 133, 85, 0.8)),
        background-image:url('../img/hero-products-768x200-min.jpg');
    }
    .bg-image-hero-team{
        background-image:url('../img/hero-team-768x250-min.jpg');
    }
    .bg-image-hero-tech{
        background-image:url('../img/hero-tech-768x250-min.jpg');
    }
}

@media screen and (max-width: 675px){
    .mission-circle-big{
        bottom:40%;
        left:-14%;
    }
}

@media screen and (max-width: 600px){
    .mission-circle-big{
        left:-17%;
    }
    .img-lab1,.img-lab3{
display: none;
    }
}
@media screen and (max-width: 510px){
    .mission-circle-big{
        left:-19%;
    }
    .team-consultant-wrapper{
        flex-direction: column;
    }
    .team-consultant-h1{
        margin-left: 0px;
        margin-top: 30px;
    }
}
@media screen and (max-width: 450px){
    .gbs-tech-button-wrapper{
        flex-direction: column;
    }
    .process-button{
        margin-left: 0px;
        margin-top: 30px;
    }
    .mission-circle-big{
        bottom:45%;
        left:-20%;
    }
    .gbs-mission-text-wrapper p{
        margin-left: 40px;
    }
    .footer{
        padding-left:2rem;
        padding-right:2rem;
    }
    .gbs-patents-brands{
        padding-left:2rem;
        padding-right:2rem;
    }
    .gbs-partners-h1{
        padding-left:2rem;
        padding-right:2rem;
    }
    .gbs-partners-text-wrapper{
        padding-left:0rem;
        padding-right:0rem;
    }
    .gbs-content-column{
        padding-left:2rem;
        padding-right:2rem;
    }
    .hero-body-products{
        padding-left:2rem;
        padding-right:2rem;
    }
    .gbs-content-column-team{
        padding-left:2rem;
        padding-right:2rem;
    }
    .bg-image-hero-products h1 {
        padding-left: 2rem;
    }
    .gbs-tech-button-wrapper{
        padding-left:2rem;
        padding-right:2rem;
    }
    .gbs-owl-slide-text-container h1{
        font-size: 24px;
    }
    .icon-carousel-arrow-video {
        margin-left: 5%;
    }
}
@media screen and (max-width: 400px) {
    .mission-circle-big {
        display: none;
    }
    .gbs-mission {
        padding-left: 2rem;
    }
}
@media screen and (max-width: 350px){
    .product-h1{
        font-size: 30px;
    }
    .gbs-owl-slide-text-container h1{
        font-size: 22px;
    }
    .gbs-owl-slide-arrow-container p span{
        display: none;
    }
}


@media print {
    a[href]:after {
        content: " (" attr(href) ") ";
    }
}
@media screen and (orientation:portrait) {
    .gbs-owl-slide-text-container{
        margin-top: 40%;
        margin-left: 10%;
    }
    .gbs-owl-slide-arrow-container{
        margin-top: 30%;
    }

}
@media screen and (max-height: 1024px){
    .gbs-owl-slide-text-container{
        margin-top: 30%;
    }
    .gbs-owl-slide-arrow-container {
        margin-top: 20%;
    }

}
@media screen and (max-height: 830px){
    .gbs-owl-slide-text-container{
        margin-top: 10%;
    }
    .gbs-owl-slide-arrow-container {
        margin-top: 10%;
    }

}
@media screen and (max-height: 680px){
    .gbs-owl-slide-text-container{
        margin-top: 5%;
    }
    .gbs-owl-slide-arrow-container {
        margin-top: 5%;
    }
}

@media screen and (max-height: 610px){

    .gbs-owl-slide-arrow-container {
        margin-top: 20px;
    }
}
@media screen and (max-height: 565px){
    .gbs-owl-slide-text-container{
        margin-top: 40px;
    }
}
@media screen and (orientation:landscape) and (max-height: 450px){
    .owl-nav{
        display: none;
    }
    .gbs-owl-slide{
        flex-direction: row;
        align-items: center;
    }
    .gbs-owl-slide-text-container{
        order:2;
        margin-left: 5%;
        margin-top: 0px;
    }
    .gbs-owl-slide-text-container h1{
        font-size: 20px;
    }
    .gbs-owl-slide-arrow-container {
        width: 50%;
        order:1;
        align-items: center;
        margin-top: 0px;
    }
    .icon-carousel-arrow-video {
        margin-left: 5%;
    }
}

@media screen and (orientation:landscape) and (max-height: 350px){
    .gbs-owl-slide{
        padding-bottom: 100px;
    }
    .owl-theme .owl-dots {
        bottom: 20px;
    }
}

.tree ul {
    padding-top: 20px; position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #0679E3;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #0679E3;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #0679E3;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #0679E3;
    width: 0; height: 20px;
}

.tree li a{
    text-decoration: none;
    font-size: 11px;
    display: inline-block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

