@font-face{
    font-family: 'CenturyGothic';      
    src: url('../fonts/century-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: 'Poppins';      
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: black;
    font-style: normal;
    }
@font-face{
    font-family: 'Gilroy';      
    src: url('../fonts/Gilroy-ExtraBold.otf');
    font-weight: black;
    font-style: normal;
    }
body, input, select, textarea {
    font-family: 'CenturyGothic';
}
.header{
    position: relative;
    z-index: 777;
}
.header__info{
    min-height: 60px;
    background-color: #121212;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}
.header__wrapper{
    width: 90%;
}
.header__wrapper .level-left{
    display: flex;
    justify-content: flex-start;
}
.header__wrapper .level-left{
    display: flex;
    justify-content: flex-end;
}
.navbar{
    -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.05);
    box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.05);
}
.navbar-brand .navbar-item{
    font-family: 'Poppins';
}
.navbar-brand a{
    font-size: 1.5rem;
}
.navbar-start > a.navbar-item:hover {
  background-color: #fff;
}


a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
  color: #e1af27;
}
.navbar-brand{
    margin-right: 100px;
}
.navbar-brand a{
    text-transform: uppercase;
    color: #e1af27;
}
.navbar-start .navbar-item{
    font-size: 1rem;
}
.navbar-end .navbar-item{
    font-size: 1rem;
}
.navbar-item{
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 1rem;
    padding-right: 1rem;
}
nav{
    height: 100px;
}

.footer__slogan-2 a .icon, .header__info a .icon, .social a .icon, .navbar a .icon, .buttons a {
    margin-left: 15px;
    margin-right: 15px;
}
.social a{
    color: #fff;
}
.header__divider{
    margin-left: 15px;
    margin-right: 15px;
    color: #464646;
}
.header__text{
    margin-left: 15px;
}
.header__text a{
    color: #fff;
    display: flex;
    align-items: center;
}
a .icon{
    margin-left: 15px;
}
.navbar-icons a{
    display: flex;
    align-items: center;
}
.footer {
    background-color: #fff;
    padding: 0rem 1.5rem 6rem;
}

.footer .columns{
    margin-bottom: 30px;
}
.footer__wrapper .icon{
    margin-right: 15px;
}
a:hover{
    color: #e1af27;
}
.hero{
    height: 507px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.hero__box p{
    color: #e1af27;
    font-size: 1rem;
}
.hero__title{
    color: #fff;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 900;
    font-family: 'CenturyGothic';
}
.hero__subtitle{
    color: #e1af27;
    text-transform: uppercase;
    font-size: 56px;
    font-family: 'CenturyGothic';
}
.call-to-action{
    background-color: #e1af27;
    border:none;
    color:#fff;
    border-radius: 0px;
    margin-top: 27px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 25px;
}
.hot-sale{
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content:  space-between;
}
.hot-sale__title{
    text-transform: uppercase;
    font-size: 1.6rem;
}
.hot-sale h4{
    font-weight: 900;
}
.hot-sale_highlighted{
    color: #e1af27;
}
.hot-sale p{
    font-size: 1.1rem;
    font-weight: 900;
    margin-top: -20px;
}
.hot-sale__text{
    line-height: 1.8rem;
    font-size: 1.1rem;
    font-weight: 900;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.product-card__image{
    width: 100%;
 
}
.shop-cart-page .product-card__image{
    width: 115px;
    height: 145px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-card__name{
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 26px;
}
.product-card__price{
    margin-top: 5px;
    font-size: 1.3rem;
    color: #e1af27;
}
.product-card__rate{
    margin-top: 18px;
    margin-bottom: 20px;
    color: #e1af27;
}
.product-card__rate .icon{
    font-size: 1rem;
    margin-bottom: 10px;
}
.proposals .columns{
    margin-top: 40px;
}
.proposals__item{
    text-align:  center;
}
.proposals__item_icon{
    font-size: 2.1rem;
    color: #464646;
    margin-bottom: 20px;
}
.proposals__heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}
.proposals__subheading{
    color: #888888;
    font-size: 1rem;
    margin-bottom: 20px;
}
.footer__text{
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}
.footer__title{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer__wrapper{
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 2rem;
}

.footer__info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: #777777;
    font-weight: 600;
    font-size: 0.9rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer__info .level{
    width: 75%;
}
.shop-product{
    margin-top: 100px;
    margin-bottom: 50px;
}
.shop-product__image{
    width: 100%;
    margin-bottom: 5px;
}
.shop-product__text{
    padding-left: 4rem;
}
.shop-product__description{
   margin-top: 40px;
   margin-bottom: 100px;
   font-size: 1.4rem;
}
.shop-product__name{
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 900;
}
.shop-product__price{
    font-size: 2rem;
    color: #e1af27;
    font-weight: 900;
}
.shop-product__rate{
    color: #e1af27;
    margin-left: 20px;
}
.shop-product__wrapper{
    display: flex;
    align-items: center;
}
.shop-product__wrapper .input{
    box-shadow: none;
    text-align: center;
    width: 8rem;
}
.add-to-cart{
    background-color: #e1af27;
    border:none;
    color:#fff;
    border-radius: 0px;
    margin-top: 27px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 25px;
}
.add-to-cart span{
    margin-left: 10px;
}
.select select, .input, .button{
    border-radius: 0px;
    border-color: #f3f3f3;
}
.carousel .carousel-navigation {
    justify-content: space-between;
}
/*.shop-cart-page table{
    overflow: auto;
    display: block;
}*/
.tabs {
    margin-bottom: -1px!important;
    font-size: 1.3rem;
}

.tab-pane p{
margin-bottom: 30px;
font-size: 1.3rem;
}
.tab-content{
    border: 1px solid #f3f3f3;
    padding: 30px;
    font-size: 1.3rem;
    background-color: #f3f3f3;   outline: none;
} 
.tabs a {
    border-bottom-color: #f3f3f3;
    color: #4a4a4a;
    padding: 20px;
    padding-bottom: 15px;
}
.tabs ul{
    border-bottom-color: #f3f3f3;
}
.tabs.is-boxed a:hover {
    border-bottom-color: #f3f3f3;
  }

.tabs.is-boxed li.is-active a {
    border-color: #f3f3f3;
    background-color: #f3f3f3;
}
.tab-pane{
  display: none;
}
.is-active{
  display: initial;
}
.is-right{
    justify-content:flex-end
}
.hot-sale__pagination{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    
}
.hot-sale__pagination-previous{
    margin-right: 10px;
}
.hot-sale__pagination-previous, .hot-sale__pagination-next{
    display: flex;
  border: none;
  border-radius: 0px;
  height: 1em;
  align-items: center;
  line-height: 1.5;
  padding: 15px ;
  background-color: #f3f3f3;
}
.hot-sale__pagination-previous:focus,
.hot-sale__pagination-next:focus,
.is-focused.hot-sale__pagination-previous,
.is-focused.hot-sale__pagination-next,
.hot-sale__pagination-previous:active,
.hot-sale__pagination-next:active,
.is-active.hot-sale__pagination-previous,
.is-active.hot-sale__pagination-next {
  background-color: #e1af27;
}
.hot-sale__pagination-previous:hover,
.hot-sale__pagination-next:hover {
    background-color: #e1af27;
  border-color: #e1af27;
  color: #363636;
}

.pagination-previous:focus,
.pagination-next:focus {
    background-color: #e1af27;
  border-color:#e1af27;
}

.pagination-previous:active,
.pagination-next:active {
    background-color: #e1af27;
  box-shadow: none;
}
.sidebar-template{
    margin-top: 100px;
}
.sn-sidebar{
    padding-right: 100px;
}
.pagination-link {
    border-color: #dbdbdb;
    color: #363636;
    min-width: 2.25em;
  }
  .pagination-previous:hover,
  .pagination-next:hover,
  .pagination-link:hover {
    border-color: #b5b5b5;
    color: #363636;
  }
  
  
  .pagination-previous:active,
  .pagination-next:active,
  .pagination-link:active {
    box-shadow: none;
  }
  
 
  
  .pagination-ellipsis {
    color: #b5b5b5;
    pointer-events: none;
  }
.pagination-link.is-current {
    background-color: #fff;
    border-color: #fff;
    color: #e1af27;
}
.pagination-link{
    border: none;
}
.prise{
    width: 100%;
}
.shop-product__input{
    width: 80px;
}
.sn-sidebar__title p{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9rem;
    color: #4a4a4a;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sn-sidebar__category li{
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.sn-sidebar__category li:first-child{

}
.tabs li.is-active a {
    color: #363636;
    font-weight: 600;
}

.choose-size {
    outline: 1px solid #b5b5b5;
  }
.sn-sidebar__category .button:active, .sn-sidebar__category .button.is-active{
    background-color: #e1af27;
    outline: 1px solid #e1af27;
}
.sn-sidebar__category .button:focus, .sn-sidebar__category .button.is-focused {
    background-color: #e1af27;
    outline: 1px solid #e1af27;
  }
.sn-sidebar__category .button:hover, .sn-sidebar__category .button.is-hovered {
    background-color: #e1af27;
    outline: 1px solid #e1af27;
  }
.checkbox {
	position:relative;
    padding-left:25px;
    width: 100%;
    margin-bottom: 10px;  
}
.checkbox input[type=checkbox] {
	display:none;
}
.checkbox label:after {
	content:'';
	display:block;
	height:0.7rem;
	width:0.7rem;
	outline:1px solid #b5b5b5;
	position:absolute;
	top:4px;
    left:0;
    text-align: center;
}
.checkbox input[type=checkbox]:checked + label:after {
	outline:1px solid #e1af27;
	border:2px solid #e1af27;
	width:0.7rem;
	height:0.7rem;
	background-color:#e1af27;
}
.type__checkbox {
	position:relative;
    padding-left:25px;
    width: 100%;
    margin-bottom: 20px;  
}
.type__checkbox input[type=checkbox] {
	display:none;
}
.type__checkbox label:after {
	content:'';
	display:block;
	height:0.4rem;
	width:0.4rem;
	outline:1px solid #b5b5b5;
	position:absolute;
	top:9px;
    left:0;
    background-color:#c3c3c5;
}

.type__checkbox label:hover{
    color:#e1af27;
}
.size__wrapper{
    display: flex;
}

.size__checkbox{
    position:relative;
    padding-left:45px;
    margin-right: 14px;
    margin-bottom: 40px;
}
.size__checkbox input[type=checkbox] {
	display:none;
}
.size__checkbox label:after {
	content:'';
	display:inline-block;
    text-align: center;
	height:2rem;
	width:3rem;
    outline:1px solid #b5b5b5;
    border:5px solid#fff;
	position:absolute;
	top:0;
    left:0;
}
.type__checkbox input[type=checkbox]:checked + label:after {
	outline:1px solid #e1af27;
	/*border:5px solid #e1af27;*/
	width:0.4rem;
	height:0.4rem;
	background-color:#e1af27;
}
.type__checkbox input[type=checkbox]:checked + label{
    color: #e1af27;
}
.size__checkbox_xs label:after {
    content: 'XS';
}
.size__checkbox_s label:after {
    content:'S';
}
.size__checkbox_m label:after {
    content:'M';
}
.size__checkbox_l label:after {
    content:'L';
}
.size__checkbox_xl label:after {
    content:'XL';
}
.size__checkbox input[type=checkbox]:checked + label:after {
    outline:1px solid #e1af27;
	
	width:3rem;
	height:2rem;
    background-color:#e1af27;
    color: #fff;
    border: none;
    padding: 5px;
}
.shop-cart-page{
    margin-top: 100px;
}
.shop-cart-page__number-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
}
.shop-cart-page__total-wrapper{
    width:100%;
    display: flex;
    justify-content: space-around;
}


.shop-cart-page__total-wrapper a{
    display: flex;
    align-items: center;
}
.shop-cart-page__number{
	height:2rem;
	width:3rem;
    outline:1px solid #f3f3f3;
    border:5px solid#fff;
	top:0;
    left:0;
}
.shop-cart-page .table td, .shop-cart-page .table th{
    text-align: center;
}
.shop-cart-page .table td, .shop-cart-page .table th {
    vertical-align: middle;   
}
.shop-cart-page td:first-child{
    padding-left: 40px;
    padding-right: 40px;
    width: 580px;
}
.shop-cart-page__remove{
    margin-left: 20px;
}
/*.shop-cart-page .table th:first-child {
    width: 35%;
}
.shop-cart-page .table th:nth-child(2) {
    width: 15%;
}
.shop-cart-page .table th:nth-child(3) {
    width: 15%;
}
.shop-cart-page .table th:nth-child(4) {
    width: 15%;
}
.shop-cart-page .table th:nth-child(5) {
    width: 15%;
}*/
.shop-cart-page .table td, .table th {
    border: 1px solid #f3f3f3;
}
.shop-cart-page__wrapper{
    margin-bottom: 80px;
    display: flex;
    justify-content: flex-end;
}
.shop-cart-page__img{
    display: flex;
    align-items: center;
}
.shop-cart-page__description{
    margin-left: 30px;
    margin-right: 30px;
}
.shop-cart-page__button{
    background-color: #fff;
    border-radius: 0px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 25px;
    margin-right: 20px;
    margin-top: 27px;
}
.shop-cart-page__button:hover{
    background-color: #e1af27;
    border-color: #e1af27;
    color: #FFF;
}
a {
    color: #4a4a4a;
}
.irs--square .irs-handle, .irs--square .irs-handle.state_hover, .irs--square .irs-handle:hover{
    background-color: #000;
}
span.irs-handle:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    top: -5px;
    left: -5px;
}
.irs-from, .irs-to{
    display: none;
}
.irs--square .irs-bar {
    top: 31px;
    height: 4px;
    background-color: #232323;
}
.irs--square .irs-handle {
    border-color: #232323;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.prise__wrapper{
    margin-top: 20px;
}
.prise__input{
    margin-right: 10px;
    width: 90%;
}
.prise__button{
    background-color: #e1af27;
    border:none;
    color:#fff;
    border-radius: 0px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 18px;
}
.select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
    border-color: #e1af27;
    box-shadow: none;
  }
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #232323;
  }
.select:not(.is-multiple){
    height:3rem;
}
.owl-dots{
    display: none;
}
.owl-prev span, .owl-next span{
    font-size: 50px;
    display: none;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #FFF;
    color: #e1af27;
    outline: none;
}
.owl-theme .owl-nav [class*='owl-']:focus {
    outline: none;
}
.owl-theme .owl-nav {
    margin-top: 0;
    z-index: 1000;
}

#sync1 .item {
      margin: 0;
      color: #FFF;
      text-align: center;
      width: 100%;
      height: auto;
} 
.sync2{
    display: flex;
    justify-content: center ;
    height: 180px;
}
#sync2{
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    height: 180px;
}
.sync2 .owl-carousel{
    margin-top: 20px;
    width: 100%;
    padding: 0 50px;
}

#sync2 .item {
      padding: 10px;
      /*margin: 10px;*/
      color: #FFF;
      text-align: center;
      cursor: pointer;
      width: 100%;
      height: 160px;
      margin-top: 10px;
}
#sync2 .owl-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#sync2 .item h1 {
        font-size: 18px;
}
.owl-theme .owl-nav [class*='owl-'] {
        transition: all .3s ease;
}           
.owl-theme .owl-nav [class*='owl-'] &.disabled:hover {
         background-color: #D6D6D6;
}   
#sync2 .owl-item.current .item{
    border: 1px solid #e1af27;

}
#sync1{
    z-index: 100;
}
#sync1.owl-theme {
    position: relative;
}
#sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
      width: 33px;
      height: 180px;
      position: absolute;
      bottom: -200px;
      background-color: #f3f3f3;
      margin: 0px;
      border-radius: 0;
}
#sync1.owl-theme .owl-next svg, #sync1.owl-theme .owl-prev svg{
    width: 8px;
}
#sync1.owl-theme .owl-next:hover, #sync1.owl-theme .owl-prev:hover {
    background-color: #e1af27;
    
}
#sync1.owl-theme .owl-prev {
      left: 0;
}
#sync1.owl-theme .owl-next {
      right: 0;
}
.select-first-row{
    width: 590px;
}
.select-color-wrap{
    border-radius: 0px;
    width: 100%;
    /*height: 48px;*/
    /*line-height: 28px;*/
    padding: 9px;
    padding-right: 2.5rem;
    background-color: #fff;
    color: #363636;
    cursor: pointer;
    display: block;
    max-width: 100%;
    outline: 0;
    cursor: pointer;
}
.select_color{
    border-radius: 0px;
    width: 100%;
    height: 48px;
    line-height: 28px;
    border: 1px solid #f3f3f3;
    background-color: #fff;
}
.select_color.opened{
    height: auto;
}
.select_color.opened .select-color-picker-inner{
    display: block;
}
.select_color:hover{
    border-color: #b5b5b5;
}
.select_color:active{
    border-color: #e1af27;
}
.select-color-picker{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.select-color-picker span{
    width: 100%;
    height: 100%;
    display: block;
}
.select-color-picker .black{
    background-color: black;
}
.select-color-picker .brown{
    background-color: brown;
}
.select-color-picker .yellow{
    background-color: yellow;
}
.select-color-picker .white{
    background-color: white;
    border: 1px solid black;
}

.select-color-picker-inner{
    height: 48px;
    padding: 9px;
    width: 100%;
    display: none;
}
.select-color-picker-item{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    margin-right: 5px;
}
.select-color-picker-item span{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 100%;
}
.select-color-picker-item:hover span{
    border: 1px solid #b5b5b5;
}
.select-color-picker-item:active span{
    border: 1px solid #e1af27;
}
.select-color-picker-item .black{
    background-color: black;
}
.select-color-picker-item .white{
    background-color: white;
    border: 1px solid black;
}
.select-color-picker-item .brown{
    background-color: brown;
}
.select-color-picker-item .yellow{
    background-color: yellow;
}
.select select, .shop-product__input, .shop-product__button {
    height: 3rem;
    font-size: 16px;
}
.select, .select select{
    width: 100%;
}
.shop-product__button{
    width: 4.5rem;
}
.footer__card img{
    margin-right: 15px;
}
.footer__card img:last-child{
    margin-right: 0px;
}
.navbar-start .sn-page__navbar-item{
    font-size: 1.25rem;
}
.select_size, .select_color{
    margin-top: 45px;
}
.button{
    font-family: 'Gilroy';
}
.footer__menu-wrapper{
    display:flex;
    align-self: center;
}
.footer{
    display: flex;
    flex-direction: column;
}

.footer__slogan{
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    flex-direction:row;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.footer__slogan-1{
    width: 60%;
}
.footer__slogan-1 p{
    text-align: center;
}
.footer__slogan-2{
    width:20%;
    display: flex;
    justify-content: center;
    margin-top:9px;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}
.footer__slogan-3{
    width:20%;
}
.footer__menu{
    margin-left: 40px;
    margin-right: 40px;
}
.irs-min{
    visibility: hidden !important;
}
.irs-max{
    visibility: hidden !important;
}
.irs-grid{
    visibility: hidden;
}
.irs-grid-text{
    visibility: hidden !important;
}
.prise__input{
    text-align: center;
}
@media screen and (max-width: 1200px) {
  .hot-sale {
    margin-top: 30px;
}
.footer__slogan-2{
    width:40%;
}
.footer__slogan-3{
    display: none;
}
.shop-product__description {
    margin-bottom: 40px;
}
.select_size, .select_color {
    margin-top: 30px;
}
.navbar-brand{
    margin-right: 10px;
}
}
@media all and (max-width: 1070px){
    .sn-sidebar{
        padding-right: 0;
    }
    .hot-sale{
        flex-direction: column;
    }
    .hot-sale__text{
        margin-top: 30px;
        justify-content: center;
    }
    .hot-sale_title-wrapper {
        justify-content: center;
    }
    .footer__info .level{
        width: 90%;
    }
    .footer__menu-wrapper{
        flex-direction: column;
        align-self: flex-start;
    }
    .footer__menu{
        margin-top: 40px;
    }
}



@media all and (max-width: 1087px){
    .container{
        padding: 0 15px;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .navbar-end {
        display: none;
      }

    .navbar-burger {
        color: #4a4a4a;
        cursor: pointer;
        display: block;
        height: 3.25rem;
        position: relative;
        width: 3.25rem;
        margin-left: auto;
      }
      
      .navbar-burger span {
        background-color: currentColor;
        display: block;
        height: 1px;
        left: calc(50% - 8px);
        position: absolute;
        -webkit-transform-origin: center;
                transform-origin: center;
        transition-duration: 86ms;
        transition-property: background-color, opacity, -webkit-transform;
        transition-property: background-color, opacity, transform;
        transition-property: background-color, opacity, transform, -webkit-transform;
        transition-timing-function: ease-out;
        width: 16px;
      }
      
      .navbar-burger span:nth-child(1) {
        top: calc(50% - 6px);
      }
      
      .navbar-burger span:nth-child(2) {
        top: calc(50% - 1px);
      }
      
      .navbar-burger span:nth-child(3) {
        top: calc(50% + 4px);
      }
      
      .navbar-burger:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
      
      .navbar-burger.is-active span:nth-child(1) {
        -webkit-transform: translateY(5px) rotate(45deg);
                transform: translateY(5px) rotate(45deg);
      }
      
      .navbar-burger.is-active span:nth-child(2) {
        opacity: 0;
      }
      
      .navbar-burger.is-active span:nth-child(3) {
        -webkit-transform: translateY(-5px) rotate(-45deg);
                transform: translateY(-5px) rotate(-45deg);
      }
    .navbar-brand{
        margin-left: 40px;
        margin-right: 40px;
        width: 90%;
        display: flex;
        align-items: center;
    }
    .navbar-brand .navbar-item,
    .navbar-tabs .navbar-item {
        align-items: center;
        display: flex;
    }
    .hero__title{
        font-size: 52px;
    }
    .hero__subtitle{
        font-size: 52px;
    }
    .footer__slogan{
        flex-direction:column;
    }
    .footer__slogan-1{
        width: 100%;
    }
    .footer__slogan-1 p{
        text-align: center;
    }
    .footer__slogan-2{
        width:100%;
        display: flex;
        justify-content: center;
        margin-top:9px;
        border-left: none;
        border-right: none;
    }
    .navbar-menu{
        display: block;
        box-shadow: none;
        padding: 0;
    }
    .navbar-start .navbar-item{
        display: inline-block;
    }

    #navbar .navbar-start .navbar-item{
        display: block;
    }
    #navbar .navbar-start{
        position: absolute;
        top: 67px;
        left: 0;
        right: 0;
        background: #fff;
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
        display: none;
    }
    #navbar .navbar-start.opened{
        opacity: 1;
        visibility: visible;
        height: auto;
    }
}
@media all and (max-width: 852px){
    .hero__title{
        font-size: 46px;
    }
    .hero__subtitle{
        font-size: 46px;
    }
    
}
.sidebar-arrow{
    display: none;
}
@media all and (max-width: 768px){
    .container{
        padding: 0;
    }
    body{
        overflow: hidden;
    }
    .shop-product{
        margin-top: 20px;
    }
    .select_size, .select_color{
        margin-top: 0;
    }
    .select-first-row{
        width: 100%;
    }
    .sub-catalog{
        text-align: center;
    }
    .sub-catalog a.navbar-item.sn-page__navbar-item{
        font-size: 14px;
        padding: 0 5px;

    }
    .sidebar-template{
        margin-top: 20px;
    }
    .footer__info{
        margin: 0;
    }
    .table.is-fullwidth{
        display: block;
        width: 100%;
        overflow: auto;
    }
    .hero__box{
        margin-left: 40px;
        margin-right: 40px;
    }
    .hot-sale {
        /*margin-top: 0px;*/
        margin-left: 40px;
        margin-right: 40px;
    }
    .product-card__item{
        margin-left: 20%;
        margin-right: 20%;
        max-height: 100%;
    }
    .footer__menu{
        margin-left: 40px;
    }

    .level-item:not(:last-child) {
        margin-bottom: 0px;
    }
    .header__text {
        margin-left: 0px; 
    }
    
    .header__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .shop-cart-page {
        margin-top: 50px;
    }
    .level-left+.level-right {
        margin-top: 0.5rem;
    }
    .header__wrapper .level-left{
        margin-top: 1rem;
    }

    .sn-sidebar{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        box-shadow: 5px 5px 5px rgba(0,0,0,.3);
        height: 100%;
        overflow: auto;
        z-index: 777;
        background: #fff;
        left: -300px;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-out;
    }
    .sn-sidebar.opened{
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    .sidebar-arrow{
        display: block;
        cursor: pointer;
        position: fixed;
        top: 50%;
        margin-top: -15px;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: #e9ae00;
        color: #fff;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        line-height: 19px;
        border: 3px solid #fff;
        z-index: 778;
        transition: all .5s ease-out;
    }
    .sidebar-arrow.opened{
        left: 300px;
        transform-origin: 50% 50%;
        transform: rotateY(180deg);
    }
    
}
@media all and (max-width: 550px){
    .level-item:last-child{
        display: none;
    }
    .header__divider{
        display: none;
    }
    .header__info {
        min-height: 1px;
    }
    .header__wrapper .level-left{
        margin-top: 0;
    }
    .level-right.social {
        display: none;
    }
    .shop-cart-page__wrapper{
        flex-direction: column;
    }
    .shop-cart-page__wrapper .button {
        margin-right: 0px;
        max-width: 70%;
    }
    .navbar-brand{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        margin: 0;
    }
    .hero__title {
        font-size: 32px;
    }
    .hero__subtitle{
        font-size: 32px;
    }
}