
body, input, select, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.5px;
    word-spacing: 8px;
}
/*quasar-framework*/
.shadow-1{
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
/*quasar-framework*/
.header{
    position: relative;
    z-index: 30;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 1.5px;
}
.header__info{
    background-color: #262626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    text-shadow: 2px 2px #000;
}
.header__info a{
    color: #fff;
}
.inner-wrapper{
    width: 1200px;
    max-width: 1200px;
}
.header__info .inner-wrapper{
    padding: 7px 0 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__item-left{
    word-spacing: 0px;
}
.header__info a:hover{
    color: #bababa;
}
.header__wrapper{
    width: 100%;
}
.header__wrapper .level-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.header__divider{
    margin-left: 15px;
    margin-right: 0px;
    margin-top: -3px;
}
.header__text{
    margin-left: 15px;
}
.menu__search-button a {
    margin-left: 15px;
    margin-right: 15px;
}
.menu__search-button .navbar-link{
    text-shadow: none;
}
.header__text a .icon{
    margin-right: 15px;
}
.header__call-to-action{
    margin-right: 30px;
}
.header__call-to-action a{
    color:#fed700;
}
.header__call-to-action a:hover{
    color:#fff;
}
a .icon {
    margin-left: 15px;
}
.social a .icon:last-child{
    margin-right: 15px;
    margin-left: 0px;
}
.navbar-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fed700;
}
.header__logo-wrapper{
    background: rgba(0,0,0,0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header__logo-wrapper .inner-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__logo img{
    max-height: 60px;
    width: auto;
    margin-bottom: 7px;
}
.header__logo-wrapper  .inner-wrapper div{
    margin-left:30px;
    margin-right:30px;
}

.header__call-to-action i{
    margin-right: 15px;
}
.navbar-burger:hover {
    background-color: #fff;
}
.navbar-dropdown .navbar-item{
    background: #fff;
    border: none;
}
.navbar{
    height: 40px;
    background-color: transparent;
}
.navbar-brand a{
    font-size: 1.5rem;
}
.navbar-brand{
    height: 52px;
}
.navbar-burger {
    height: 52px;
    width: 52px;
}
.navbar-logo a{
    width:180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-menu{
    font-size: 18px;
    color: #292929;
}
.navbar-start > a.navbar-item:hover {
    background-color: #fff;
}
a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active, .footer a:hover {
    color: #fed700;
}
.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #fff;
}
.navbar-brand .header__logo{
    display: none;
}
.navbar-item{
    text-transform: uppercase;
    font-weight: 900;
    padding:0 30px;
    background: #fed700;
}
.navbar-item:last-child {
    border:none;
}
.fa-info{
    font-size: 21px;
}
.button_no-border{
    border: none;
}
.simple-search, .simple-search-container {
    position: relative;
    margin: 0 auto;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

}
input{
    border:none;
}
.simple-search-container input[type=search] {
    height: auto;
    padding: 6px 35px 6px 19px;
    margin: 0;
    font-weight: 700;
    border: 1px solid rgba(0,0,0,.2);
}
button {
    padding:0;
    border:none;
    background-color: transparent;
}

.les-search-button{
    margin-left: -45px;
}
.les-search-button i{
   color: #777;
}
.content__desktop{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 100px;
}
.vueperslides__parallax-wrapper{
    margin-top: -126px;
}
.vueperslide__content-wrapper{
    top: 57%!important;
    background-color: #fed700;
    padding:15px;
    border-radius: 30px;
    /*quasar-framework shadow-1*/
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.vueperslides__arrows .vueperslides__arrow{
    top:57% !important;
}
.vueperslide__title, .vueperslide__content{
    line-height: 1;
    font-weight: bold;
    font-style: normal;
    font-size: 72px;
    text-align: center;
    padding: 15px;
    color:#fff;
    letter-spacing: 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px #e8c400;
}
.vueperslide__content{
    font-size: 36px;
}
.vueperslides__bullets .vueperslides__bullet {
    border-radius: 0px;
    /*quasar-framework shadow-1*/
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.vueperslides__bullets .vueperslides__bullet--active {
    border: 6px solid #fed700;
}
.navbar-item, .navbar-link {
    color: #000;
}
.vidresp{
    margin-top:20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    width:100%;
    height: 100%;
    min-height: 300px;
}
.modal-content {
    margin: 0 20px;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.footer a{
    color: #fff;
}
.footer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top:40px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    background-color: #262626;
    position:relative;
    font-size: 20px;
    color: #fff;
    align-items: center;
    justify-content:center;
}
.inner-wrapper-footer{
    width: 1200px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.footer-item {
    display: flex;
    flex-direction: column;
    padding-top:10px;
    padding-bottom:10px;
}
.footer-item a{
    padding-bottom: 10px;
}
.footer__call a i{
    margin-right: 20px;
    color:#fed700;
}
.footer__call a{
    font-size: 30px;
    margin-left:-10px;
    margin-top: 10px;
}
.les-content{
    max-width: 1200px;
    padding: 40px;
    padding-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.les-content p{
    margin-bottom: 20px;
}
.les-content a p{
    letter-spacing: 1px;
}
.article-bg {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,.92);
    color: #666;
    padding: 10px;
}
.call-button, .delivery-button{
    height: 60px;
    width: fit-content;
    margin-bottom: 30px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: #fed700;
    color: #222;
    border-radius: 10px;
    border:2px solid #fed700;
    text-align: center;
    padding: 0 20px 0;
    transition: 0.3s;
    /*quasar-framework shadow-1*/
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.delivery-button  i{
    margin-right: 15px;
}
.call-button:hover{
    background-color: #222;
    color: #fff;
    box-shadow:none;
}
.call-button:hover  i{
    color: #fed700;
}
.call-button i{
    font-size: 26px;
    margin-right: 15px;
}

.fa-truck{
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH";
}
.menu-button-type, .menu-button-type span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
}
.bg-image-hero-page-no-sidebar{
    background-image: url(../img/dreamstime_xxl_67338523_1920-min.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    max-height: 100vh;
    margin-top: 40px;
}
.hero {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.bg-image-hero-page-no-sidebar .banner-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    color: #222;
}
.banner-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 900;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    width: 30%;
}
.banner-item h4, .les-content h5{
    font-size: 30px;
    letter-spacing: 3.5px;
    font-weight: 900;
}
.article-bg h2{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 900;
}
.banner-item span{
    font-size: 21px;
}
.round {
    width: 14em;
    height: 14em;
    background: #fed700;
    border: 2px solid #fed700;
    border-radius: 50%;
    line-height: 16em;
    text-align: center;
    /*quasar-framework shadow-22*/
    box-shadow: 0 10px 14px -6px rgba(0,0,0,.2), 0 22px 35px 3px rgba(0,0,0,.14), 0 8px 42px 7px rgba(0,0,0,.12);
}
.banner-item .round{
    margin-bottom: 30px;
}

.round .fas{
    font-size: 70px;
}
.les-product-link i{
    margin-left: 5px;
}
.index__tile-wrapper{
    display: flex;
}
.index__tile{
    max-width: 100%;
    position: relative;
    margin:12px;
    margin-bottom: 30px;
    /*quasar-framework shadow-1*/
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.index__tile:hover{
    box-shadow:none;
}
.index__tile img {
    min-height: 300px;
    width: 100%;
    object-fit:cover;
    display: flex;
    align-self: center;
    position: relative;
    z-index: 1;
}
.index__tile h3 {
    display: block;
    text-transform: uppercase;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background: #262626;
    color: #fed700;
    text-align: center;
    line-height: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    transition: ease-in-out .3s;
    text-shadow: 2px 2px #000;
}
.index__tile-hidden {
    display: block;
    position: absolute;
    z-index: 3;
    top:0px;
    left:0px;
    bottom: 40px;
    background: rgba(0,0,0,.7);
    color: white;
    padding: 10px;
    transition: visibility 0s,opacity 0.3s linear;
    overflow: hidden;
    text-shadow: 2px 2px #262626;
}
.index__tile-hidden  p {
    margin-bottom: 10px;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.hovering{
    position: relative;
}
.hovering::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255, .7);
    z-index: 1;
    margin: -70px -10px -70px;
    /*quasar-framework shadow-1*/
    box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.banner-item div, .banner-item p, .banner-item span{
    z-index: 2;
}



@media screen and (max-width: 1200px){
    .banner-item p {
        font-size: 25px;
        letter-spacing: 3px;
    }
    .banner-item span {
        font-size: 18px;
    }
    .navbar-wrapper{
        justify-content: flex-end;
    }
    .navbar-item {
        background: #fff;
        width: 100vw;
        padding: 8px 30px;
    }
    .navbar-item:last-child {
        display: none;
    }
    .les-product-link{
        padding-left: 30px;
    }
    .navbar-dropdown .navbar-item {
        padding-left: 3rem;
        border-bottom: 1px solid rgba(0,0,0,.2);
        padding-top:13px;
        padding-bottom:13px;
    }
}
@media screen and (max-width: 1050px){
    .banner-item p {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .banner-item span {
        font-size: 18px;
    }
    .round {
        width: 12em;
        height: 12em;
        line-height: 14em;
    }
}

@media screen and (min-width: 881px){
    .content_mobile, .navbar-dropdown .fa-chevron-right{
        display: none;
    }

    .navbar-dropdown {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}
@media screen and (max-width: 880px){
    #les-slider{
        display: none;
    }
    .check-tile{
        display: flex;
        color: #222;
        background-color: #fed700;
        align-items: center;
        justify-content: right;
        font-size: 21px;
        height: 140px;
    }
    .check-tile i{
        margin-right: 15px;
        font-size: 35px;
    }
    .header{
        width:100vw;
        position: fixed;
        top: 0;
        margin-top:-1px;
    }
    .content_mobile{
        margin-top:174px;
    }
    .navbar-logo{
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .content__desktop{
        display: none;
    }
    .home-mobile-background {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .home-mobile-background img{

        min-height: 426px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .home-mobile-search {
        width: auto;
        margin: 40px 43px 18px;
        display: block!important;
    }
    .simple-search-container {
        max-width: 500px;
        position: relative;
    }
    .navbar-item .simple-search-container {
        margin-left:23px;
    }
    .navbar-item .simple-search-container input[type=search] {
        width: 230px;
    }
    .home-mobile-search fieldset {
        width: 100%;
    }
    .home-mobile-search input[type=search] {
        width: 100%;
        height: 70px;
        padding: 10px 35px 10px 10px;
        border: 4px solid rgba(204,204,204,.7);
    }
    .home-mobile-search button {
        padding: 22px 10px;
    }
    .home-mobile-search button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        color: #292929;
        padding: 2px 5px;
    }
    .home-mobile-search .fa-search {
        font-size: 21px;
        margin-top: 20px;
        margin-left: -70px;
    }
    .home-mobile-slots {
        margin: 15px 43px 40px;
    }
    .home-mobile-slot .index__tile{
        margin:0;
        margin-bottom: 30px;
    }
    .full-column{
        margin-top:20px;
        margin-bottom: 20px;
    }
    .sale-mobile{
        background-color: #ffffff;
        font-size: 22px;
    }
    .sale-mobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 25px 0px 30px;
    }
    .sale-mobile{
        background-color: #ffffff;
        color: #fed700;
        font-weight: 600;
        font-size: 26px;
    }
    .half-column {
        width: 48%;
        padding: 20px;
    }
    .half-column:not(:last-child) {
        margin-bottom: 20px;
    }
    .index__tile-hidden{
        margin:0;
        width:100%;
    }
    .home-mobile-slot-division {
        margin: 15px 0;
    }
    .home-mobile-slot {
        display: flex;
        flex-direction: column;
    }
    .half-column-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .navbar-dropdown-tablet, .navbar-link-question,.navbar-start{
        display: none;
    }
    .mobile-search input[type=search] {
        width: calc(100% - 2px);
    }
    .navbar-dropdown .navbar-item:last-child{
        border: none;
    }
    hr {
        background-color: transparent;
    }
    .header__logo-wrapper{
        height: 51px;
    }
    .header__logo img {
        height: 38px;
        width: 112px;
        min-height: 38px;
        min-width: 112px;
        margin-bottom: 5px;
        margin-left: 15px;
    }
    .header__slogan img {
        height: 14px;
        width: 170px;
        min-height: 14px;
        min-width: 170px;
    }
    .header__logo-wrapper .inner-wrapper div:first-child {
        margin-right: 0px;
    }
    .header__logo-wrapper .inner-wrapper div:last-child {
        margin-left: 0px;
    }
    .header__logo-wrapper {
        display: none;
    }
    .navbar-brand .header__logo{
        display: block;
        background-color: #fed700;
        width: auto;
    }
    nav{
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .inner-wrapper-footer{
        flex-direction: column;
        position: relative;
    }
    .footer-item{
        padding: 0;
    }
    .footer__call{
        position: absolute;
        top:0;
        right: 0;
    }
}
@media screen and (max-width: 700px){
    .header__slogan, .header__item-left{
        display: none;
    }
}
@media screen and (max-width: 690px){
    .footer__call{
        position: static;
        margin-top: 15px;
    }
}
@media screen and (max-width: 660px){

}
@media screen and (max-width: 610px){
    .half-column {
        width: 100%;
    }
}
@media screen and (max-width: 560px){
    .header__divider{
        display: none;
    }
    .header__item-left{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .header__text {
        margin-left: 0px;
    }
}
@media screen and (max-width: 450px){
    .home-mobile-slots{
        margin: 15px 10px 40px;
    }
    .home-mobile-search {
        margin: 40px 10px 18px;
    }
}

@media screen and (max-width: 370px){
    .footer__call a {
        font-size: 25px;
    }
}
@media screen and (max-width: 320px){
    .footer__call a {
        font-size: 21px;
    }
}
@media screen and (max-width: 305px){

}
@media screen and (max-width: 340px){
    .navbar-logo a {
        width: 215px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media screen and (max-height: 775px){

}
@media screen and (max-height: 640px){

}
@media print {
    a[href]:after {
        content: " (" attr(href) ") ";
    }
}