@font-face {
    font-family: GothamPro-Black;
    src: url(../fonts/gothampro-black.3309bc97.eot);
    src: url(../fonts/gothampro-black.3309bc97.eot?#iefix) format("embedded-opentype"), url(../fonts/gothampro-black.18c8d79f.woff2) format("woff2"), url(../fonts/gothampro-black.5d53ea87.woff) format("woff"), url(/fonts/gothampro-black.efb0c02a.ttf) format("truetype"), url(../images/gothampro-black.36ac6078.svg#gothampro-black) format("svg")
}

@font-face {
    font-family: GothamPro-Medium;
    src: url(../fonts/gothampro-medium.6fe466da.eot);
    src: url(../fonts/gothampro-medium.6fe466da.eot?#iefix) format("embedded-opentype"), url(../fonts/gothampro-medium.b0c2105c.woff2) format("woff2"), url(../fonts/gothampro-medium.9efe5984.woff) format("woff"), url(../fonts/gothampro-medium.c1613691.ttf) format("truetype"), url(../images/gothampro-medium.47a26877.svg#gothampro-medium) format("svg")
}

@font-face {
    font-family: AvenirNextCyr-Medium;
    src: url(../fonts/avenirnextcyr-medium.576011fe.eot);
    src: url(../fonts/avenirnextcyr-medium.576011fe.eot?#iefix) format("embedded-opentype"), url(../fonts/avenirnextcyr-medium.ee6850e2.woff2) format("woff2"), url(../fonts/avenirnextcyr-medium.1da09dad.woff) format("woff"), url(../fonts/avenirnextcyr-medium.862c7c42.ttf) format("truetype"), url(../images/avenirnextcyr-medium.c2cc29c0.svg#avenirnextcyr-medium) format("svg")
}

@font-face {
    font-family: GothamPro-Bold;
    src: url(../fonts/gothampro-bold.ee9b8c53.eot);
    src: url(../fonts/gothampro-bold.ee9b8c53.eot?#iefix) format("embedded-opentype"), url(../fonts/gothampro-bold.928e6be9.woff2) format("woff2"), url(../fonts/gothampro-bold.f8b079dd.woff) format("woff"), url(../fonts/gothampro-bold.c15ee62b.ttf) format("truetype"), url(../images/gothampro-bold.91d7b6b2.svg#gothampro-bold) format("svg")
}

@font-face {
    font-family: AvenirNextCyr-Bold;
    src: url(../fonts/avenirnextcyr-bold.cd1b4c62.eot);
    src: url(../fonts/avenirnextcyr-bold.cd1b4c62.eot?#iefix) format("embedded-opentype"), url(../fonts/avenirnextcyr-bold.e99ffd68.woff2) format("woff2"), url(../fonts/avenirnextcyr-bold.946cd3d0.woff) format("woff"), url(../fonts/avenirnextcyr-bold.cb5f2e91.ttf) format("truetype"), url(../images/avenirnextcyr-bold.6581b386.svg#avenirnextcyr-bold) format("svg")
}

@font-face {
    font-family: AvenirNextCyr-Demi;
    src: url(../fonts/avenirnextcyr-demi.96adc4be.eot);
    src: url(../fonts/avenirnextcyr-demi.96adc4be.eot?#iefix) format("embedded-opentype"), url(../fonts/avenirnextcyr-demi.d8fc0865.woff2) format("woff2"), url(../fonts/avenirnextcyr-demi.bdbc9765.woff) format("woff"), url(../fonts/avenirnextcyr-demi.104be5f7.ttf) format("truetype"), url(../images/avenirnextcyr-demi.5bce9e57.svg#avenirnextcyr-demi) format("svg")
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    background-color: transparent
}

b {
    font-weight: bolder
}

small {
    font-size: 80%
}

img {
    border-style: none
}

button, input, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

[hidden] {
    display: none
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #172b4d;
    line-height: 24px;
    font-family: AvenirNextCyr-Medium;
    font-size: 16px
}

::-webkit-input-placeholder {
    color: #b7c6dd
}

::-moz-placeholder {
    color: #b7c6dd
}

:-ms-input-placeholder {
    color: #b7c6dd
}

::-ms-input-placeholder {
    color: #b7c6dd
}

::placeholder {
    color: #b7c6dd
}

a {
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #095cd6
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit
}

img {
    max-width: 100%;
    height: auto
}

.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto
}

@supports (-ms-overflow-style:none) {
    .ps {
        overflow: auto!important
    }
}

@media (-ms-high-contrast:none), screen and (-ms-high-contrast:active) {
    .ps {
        overflow: auto!important
    }
}

.header--sticky {
    position: fixed;
    top: 0
}

.header__wrapper {
    background-color: #0747a6;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (min-width:1920px) {
    .header__wrapper {
        margin: 0 auto;
        max-width: 1175px
    }
}

.header__logo {
    font-family: GothamPro-Black;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px
}

@media (min-width:890px) {
    .header__logo {
        font-size: 22px
    }
}

.button {
    padding: 6px;
    min-width: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    color: #fff;
    font-family: GothamPro-Medium;
    font-size: 12px;
    border: 1px solid #fff;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    line-height: 16px;
    white-space: nowrap
}

.button--accent {
    background-color: #ff2b4e
}

.button--registration {
    margin-left: 7px
}

.button--login, .button--registration {
    display: none
}

@media (min-width:1100px) {
    .button--login, .button--registration {
        display: block
    }
}

.button--become-author {
    max-width: 190px;
    margin-right: auto;
    margin-left: 20px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media (min-width:580px) {
    .button--become-author {
        display: block
    }
}

@media (min-width:1700px) {
    .button--become-author {
        margin-left: 25px
    }
}

.button--read-more {
    color: #095cd6;
    background: #fff;
    text-transform: uppercase;
    font-family: GothamPro-Medium;
    font-size: 12px;
    border: 1px solid #095cd6
}

@media (min-width:1700px) {
    .button--read-more {
        width: 146px
    }
}

@media (min-width:580px) {
    .button {
        font-size: 14px
    }
}

.main-nav {
    max-width: 300px;
    display: block;
    background: #073a87;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 997;
    padding-top: 25px;
    padding-right: 5vw;
    padding-left: 5vw;
    margin: 0;
    width: 100%;
    height: 100vh;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    list-style: none;
    -webkit-transition: all .2s;
    transition: all .2s
}

.main-nav__link {
    color: #fff;
    font-family: AvenirNextCyr-Demi;
    font-size: 14px;
    letter-spacing: 0
}

.main-nav__item {
    padding: 10px 0
}

.main-nav__item--active .main-nav__link {
    color: #fff
}

@media (min-width:890px) {
    .main-nav__item--active .main-nav__link {
        padding: 8px 22px
    }
}

@media (min-width:1100px) {
    .main-nav__item {
        padding-top: 0;
        padding-bottom: 0;
        display: inline
    }
}

@media (min-width:890px) {
    .main-nav {
        top: 80px
    }
}

@media (min-width:1100px) {
    .main-nav {
        padding-right: 35px;
        padding-left: 35px;
        max-width: 620px;
        margin: 0;
        padding-top: 0;
        background: #0747a6;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: static;
        height: auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.main-nav.loaded {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.header--author .main-nav {
    background: #f2f4f6
}

.header--author .main-nav__link {
    background: #f2f4f6;
    color: #172b4d
}

.ads {
    display: none
}

.ads__text {
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: AvenirNextCyr-Bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase
}

.ads__banner {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.ads__banner--small:nth-child(odd) {
    padding-right: 7px
}

.ads__banner--small:nth-child(2n) {
    padding-left: 7px
}

.ads__banner--big {
    width: 100%
}

@media (min-width:1700px) {
    .ads {
        margin-bottom: 16px;
        padding: 29px 96px 0 50px;
        width: 18vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #f2f4f6;
        position: absolute;
        top: 100vh;
        right: 0;
        z-index: 1;
        background-color: #f2f4f6
    }
}

@media (min-width:1920px) {
    .ads {
        right: 50%;
        max-width: 345px;
        -webkit-transform: translateX(970px);
        transform: translateX(970px)
    }
}

.menu-toggle {
    position: relative;
    width: 23px;
    height: 3px;
    background-color: #fff
}

.menu-toggle__wrapper {
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 23px;
    height: 30px
}

@media (min-width:1100px) {
    .menu-toggle__wrapper {
        display: none
    }
}

.menu-toggle:before {
    top: -6px
}

.menu-toggle:after, .menu-toggle:before {
    content: "";
    position: absolute;
    left: 0;
    width: 23px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: top .2s linear .2s, -webkit-transform .2s ease-in;
    transition: top .2s linear .2s, -webkit-transform .2s ease-in;
    transition: transform .2s ease-in, top .2s linear .2s;
    transition: transform .2s ease-in, top .2s linear .2s, -webkit-transform .2s ease-in
}

.menu-toggle:after {
    bottom: -6px
}

.menu-toggle.menu-toggle--active {
    background-color: transparent
}

.menu-toggle.menu-toggle--active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.menu-toggle.menu-toggle--active:after, .menu-toggle.menu-toggle--active:before {
    top: 0;
    -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s
}

.menu-toggle.menu-toggle--active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.articles-types-nav__wrapper .menu-toggle__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.header__wrapper--author .menu-toggle, .header__wrapper--author .menu-toggle:after, .header__wrapper--author .menu-toggle:before {
    background-color: #172b4d
}

.header__wrapper--author .menu-toggle.menu-toggle--active {
    background-color: transparent
}

.articles-types-nav {
    margin-top: 0;
    -webkit-padding-start: 1.4vw;
    padding-inline-start: 1.4vw;
    padding: 5px 1.4vw 1.4vw;
    list-style: none;
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 0
}

.articles-types-nav, .articles-types-nav__toggle-container {
    margin-left: -1.4vw;
    margin-right: -1.4vw;
    background-color: #073a87
}

.articles-types-nav__toggle-container {
    padding-right: 1.4vw;
    padding-left: 1.4vw;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    z-index: 2
}

.articles-types-nav__text {
    color: #fff;
    font-family: GothamPro-Black;
    font-size: 16px;
    text-transform: uppercase
}

.articles-types-nav__item {
    margin-bottom: 13px;
    padding: 22px 13px;
    background: #15458d;
    border-radius: 4px
}

.articles-types-nav__wrapper {
    display: none
}

@media (min-width:1700px) {
    .articles-types-nav__wrapper {
        margin-bottom: 16px;
        padding: 0 1.4vw;
        width: 18vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #f2f4f6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1
    }
}

@media (min-width:1920px) {
    .articles-types-nav__wrapper {
        padding: 0 25px;
        left: 50%;
        max-width: 345px;
        -webkit-transform: translateX(-959px);
        transform: translateX(-959px)
    }
}

.articles-types-nav.loaded {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.hero {
    margin-right: -5vw;
    margin-left: -5vw;
    margin-bottom: 30px;
    width: 100vw;
    background-color: #13305c
}

.hero__heading-wrapper {
    padding: 46px 5vw
}

@media (min-width:580px) {
    .hero__heading-wrapper {
        padding: 46px 3.9vw
    }
}

@media (min-width:890px) {
    .hero__heading-wrapper {
        width: 40%;
        margin-right: 55px;
        padding: 46px 0 46px 1.4vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-image: url(../images/hero-bg.2a921ed4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%
    }
}

@media (min-width:1700px) {
    .hero__heading-wrapper {
        width: 35%
    }
}

@media (min-width:1920px) {
    .hero__heading-wrapper {
        padding-left: 25px
    }
}

.hero__heading {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    font-family: GothamPro-Black;
    font-size: 27px;
    line-height: 34px;
    color: #fff;
    text-transform: uppercase
}

@media (min-width:580px) {
    .hero__heading {
        font-size: 35px;
        line-height: 42px
    }
}

.hero__text {
    font-family: AvenirNextCyr-Medium;
    color: #fff
}

.hero__link {
    color: #b7c6dd;
    text-decoration: underline
}

.hero__video-wrapper {
    padding: 0 5vw 46px;
    z-index: -20
}

@media (min-width:580px) {
    .hero__video-wrapper {
        padding: 0 3.9vw 46px
    }
}

@media (min-width:890px) {
    .hero__video-wrapper {
        margin-left: 7px;
        padding: 46px 3.9vw 46px 0;
        width: 60%;
        z-index: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

@media (min-width:1700px) {
    .hero__video-wrapper {
        width: 65%
    }
}

.hero__video-container {
    width: 100%;
    position: relative;
    padding-top: 59.56%
}

.hero__video {
    background-image: url(../images/video.ad537db5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1
}

.hero__video, .hero__video-youtube {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.hero__video-youtube {
    height: 100%;
    width: 100%
}

.hero__video-button {
    width: 80px;
    height: 81px
}

@media (min-width:580px) {
    .hero__video-button {
        width: 131px;
        height: 133px
    }
}

@media (min-width:580px) {
    .hero {
        margin-right: -3.9vw;
        margin-left: -3.9vw
    }
}

@media (min-width:890px) {
    .hero {
        height: calc(100vh - 80px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:1700px) {
    .hero {
        margin-left: -25px;
        margin-right: 0;
        padding-right: 18vw;
        width: 82vw
    }
}

.articles-section {
    margin-right: -5vw;
    margin-left: -5vw;
    margin-bottom: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.articles-section, .articles-section__article-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:580px) {
    .articles-section__article-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.articles-section__link-show-more {
    margin-top: 20px;
    color: #095cd6;
    text-decoration: underline
}

@media (min-width:1700px) {
    .articles-section__link-show-more {
        margin-top: 50px
    }
}

@media (min-width:580px) {
    .articles-section {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:890px) {
    .articles-section {
        padding: 0
    }
}

.heading-wrapper {
    width: 100%;
    margin-bottom: 25px
}

.heading-wrapper__statistics-make-wrapper {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.heading-wrapper--inner-page {
    margin-top: 30px
}

.heading-wrapper__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-family: GothamPro-Bold;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0
}

@media (min-width:580px) {
    .heading-wrapper__nav {
        width: 415px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (min-width:890px) {
    .heading-wrapper__nav {
        width: 100%
    }
}

@media (min-width:1700px) {
    .heading-wrapper__nav {
        max-width: 420px;
        margin-bottom: 10px
    }
}

.heading-wrapper__nav-item {
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px
}

.heading-wrapper__nav-item--active {
    color: #095cd6;
    border-bottom: 2px solid #095cd6
}

.heading-wrapper__nav-item:last-child {
    margin-right: 0
}

@media (min-width:890px) {
    .heading-wrapper__nav-item:first-child {
        margin-left: 0
    }
}

@media (min-width:580px) {
    .heading-wrapper__nav-item {
        margin-top: 23px;
        padding-top: 11px;
        padding-bottom: 11px;
        text-transform: uppercase
    }
}

.heading-wrapper__search-nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

@media (min-width:890px) {
    .heading-wrapper__search-nav-wrapper {
        width: 50%;
        padding-left: 7px
    }
}

.heading-wrapper__input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative
}

@media (min-width:890px) {
    .heading-wrapper__input-wrapper {
        width: 100%
    }
}

.heading-wrapper__search-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: #095cd6
}

.heading-wrapper__search {
    width: 100%;
    padding: 10px;
    border: 1px solid #b7c6dd;
    font-size: 17px;
    background-color: #f2f4f6
}

@media (min-width:580px) {
    .heading-wrapper__search {
        min-width: 415px;
        border: none;
        border-bottom: 1px solid #b7c6dd;
        padding-left: 0
    }
}

@media (min-width:890px) {
    .heading-wrapper__search {
        min-width: 100%
    }
}

.heading-wrapper__icon {
    margin-left: 10px;
    width: 16px;
    height: 21px;
    display: none
}

@media (min-width:580px) {
    .heading-wrapper__icon {
        width: 21px;
        height: 28px
    }
}

@media (min-width:890px) {
    .heading-wrapper__heading-group {
        width: 60%;
        padding-right: 7px
    }
}

.heading-wrapper__heading {
    -webkit-margin-after: 10px;
    margin-block-end: 10px;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: GothamPro-Black;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase
}

@media (min-width:580px) {
    .heading-wrapper__heading {
        font-size: 35px;
        line-height: 42px
    }
}

.heading-wrapper__subheading {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    font-family: AvenirNextCyr-Medium;
    font-weight: 400
}

@media (min-width:1700px) {
    .heading-wrapper__subheading {
        max-width: 360px
    }
}

@media (min-width:890px) {
    .heading-wrapper {
        padding-top: 41px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.heading-wrapper__search-nav-wrapper {
    display: none
}

.heading-wrapper--has-search .heading-wrapper__search-nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (min-width:890px) {
    .heading-wrapper--has-search .heading-wrapper__heading-group {
        width: 50%
    }
}

.heading-wrapper--has-icon .heading-wrapper__icon {
    display: block
}

.heading-wrapper__statistics-make-wrapper {
    display: none
}

.heading-wrapper--has-statistics .heading-wrapper__statistics-make-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.heading-wrapper--has-statistics .heading-wrapper__heading {
    -webkit-margin-before: 30px;
    margin-block-start: 30px
}

.make-button {
    padding: 0;
    color: #095cd6;
    font-family: GothamPro-Black;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    -webkit-text-decoration-color: #b7c6dd;
    text-decoration-color: #b7c6dd;
    border: none;
    text-align: left;
    background-color: #f2f4f6
}

@media (min-width:580px) {
    .make-button {
        margin-left: auto
    }
}

.article {
    margin-bottom: 14px;
    margin-right: -5vw;
    margin-left: -5vw;
    background-color: #f2f4f6
}

.article__image {
    border-radius: 4px 4px 0 0;
    margin-bottom: -7px
}

.article__text {
    font-size: 14px;
    line-height: 20px
}

.article__content, .article__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.article__content {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff
}

@media (min-width:580px) {
    .article__content {
        padding-left: 1.4vw;
        padding-right: 1.4vw
    }
}

@media (min-width:1920px) {
    .article__content {
        padding-left: 25px;
        padding-right: 25px
    }
}

.article__heading {
    -webkit-margin-after: 10px;
    margin-block-end: 10px;
    font-family: GothamPro-Black;
    text-transform: uppercase;
    font-size: 18px
}

@media (min-width:580px) {
    .article__heading {
        font-size: 22px;
        line-height: 26px
    }
}

@media (min-width:1700px) {
    .article__heading {
        max-width: 77%
    }
}

.article__link-source {
    text-transform: uppercase;
    color: #b7c6dd;
    font-family: GothamPro-Black;
    font-size: 13px
}

@media (min-width:580px) {
    .article__link-source {
        margin-bottom: 10px
    }
}

.article__link-wrapper {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:580px) {
    .article__link-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media (min-width:580px) {
    .article:nth-child(odd) {
        padding-right: 7px
    }
}

@media (min-width:580px) {
    .article:nth-child(2n) {
        padding-left: 7px
    }
}

@media (min-width:580px) {
    .article {
        margin-right: 0;
        margin-left: 0;
        width: 50%
    }
}

.info {
    margin-top: 45px;
    margin-right: -5vw;
    margin-left: -5vw;
    padding: 90px 5vw;
    width: 100vw;
    background-color: #132e57;
    background-image: url(../images/info-bg.e8e29cab.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0
}

@media (min-width:1920px) {
    .info__wrapper {
        margin: 0 auto;
        max-width: 1175px
    }
}

.info__content {
    padding-bottom: 750px;
    color: #fff
}

.info__heading {
    font-family: GothamPro-Black;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff
}

@media (min-width:580px) {
    .info__heading {
        font-size: 35px;
        line-height: 42px
    }
}

@media (min-width:1700px) {
    .info__heading {
        max-width: 570px
    }
}

@media (min-width:580px) {
    .info {
        margin-right: -3.9vw;
        margin-left: -3.9vw;
        padding: 90px 3.9vw
    }
}

@media (min-width:1700px) {
    .info {
        margin-right: -19.4vw;
        margin-left: -19.4vw;
        padding: 90px 19.4vw
    }
}

.footer {
    margin-right: -5vw;
    margin-left: -5vw;
    margin-top: -750px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.footer__copy {
    font-size: 12px
}

.footer__bottom {
    padding: 22px 5vw;
    background-color: #0747a6;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.footer__column-heading {
    font-family: GothamPro-Black;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0
}

.footer__list {
    -webkit-margin-before: 12px;
    margin-block-start: 12px;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    list-style: none;
    line-height: 20px
}

.footer__list-item {
    padding-top: 8px;
    padding-bottom: 8px
}

.footer__list-link {
    font-size: 14px
}

.footer__column {
    width: 50%;
    padding-bottom: 30px
}

.footer__column:nth-child(odd) {
    padding-right: 7px
}

.footer__column:nth-child(2n) {
    padding-left: 7px
}

@media (min-width:890px) {
    .footer__column {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content
    }
    .footer__column:nth-child(2n), .footer__column:nth-child(odd) {
        padding-left: 0;
        padding-right: 10.25%
    }
}

@media (min-width:890px) {
    .footer__column:last-child {
        padding-right: 0
    }
}

.footer__top {
    padding: 40px 5vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: rgba(161, 176, 199, .15);
    color: #fff
}

@media (min-width:580px) {
    .footer__top {
        padding: 70px 3.9vw 0
    }
}

@media (min-width:890px) {
    .footer__top {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

@media (min-width:1700px) {
    .footer__top {
        padding: 70px 19.4vw 0
    }
}

.footer__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (min-width:1920px) {
    .footer__wrapper {
        margin: 0 auto;
        max-width: 1175px
    }
}

.footer__logo {
    font-family: GothamPro-Black;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px
}

@media (min-width:890px) {
    .footer__logo {
        margin-right: auto;
        padding-right: 0
    }
}

@media (min-width:1700px) {
    .footer__logo {
        font-size: 41px
    }
}

.footer--author {
    margin-top: 0
}

@media (min-width:580px) {
    .footer {
        margin-right: -3.9vw;
        margin-left: -3.9vw
    }
}

@media (min-width:1700px) {
    .footer {
        margin-right: -19.4vw;
        margin-left: -19.4vw
    }
}

.footer--author .footer__top {
    background-color: #f2f4f6;
    color: #172b4d
}

.footer--author .footer__logo {
    color: #172b4d
}

.footer--author .footer__bottom {
    background-color: #172b4d
}

.inner-article__text {
    padding-bottom: 35px;
    font-size: 14px;
    line-height: 20px
}

.inner-article__image {
    margin-bottom: 20px
}

.likes {
    margin-top: -10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.likes, .likes__counter-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.likes__counter-wrapper {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.likes__like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:580px) {
    .likes__like {
        margin-right: 42px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
}

.likes__text {
    font-family: GothamPro-Black;
    font-size: 16px;
    text-transform: uppercase
}

@media (min-width:580px) {
    .likes__text {
        padding-left: 14px;
        font-size: 17px
    }
}

.likes__counter {
    padding-right: 14px;
    color: #b7c6dd;
    font-family: GothamPro-Black;
    font-size: 16px
}

@media (min-width:580px) {
    .likes__counter {
        font-size: 17px
    }
}

@media (min-width:580px) {
    .likes {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.comments__textarea {
    margin-bottom: 20px;
    padding: 14px;
    width: 100%;
    border: none
}

.comments__heading {
    -webkit-margin-before: 40px;
    margin-block-start: 40px;
    -webkit-margin-after: 35px;
    margin-block-end: 35px;
    font-family: GothamPro-Black;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase
}

@media (min-width:580px) {
    .comments__heading {
        font-size: 35px;
        line-height: 42px
    }
}

#container {
    position: relative;
    height: 324px
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px
}

.scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #f5f5f5;
    border-radius: 10px
}

.scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #33b5e5
}

.comment {
    margin-bottom: 10px;
    padding: 16px 16px 16px 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff
}

.comment, .comment__person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.comment__person {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:890px) {
    .comment__person {
        width: 25%
    }
}

.comment__name-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:580px) {
    .comment__name-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

@media (min-width:890px) {
    .comment__name-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.comment__city {
    font-family: GothamPro-Medium;
    font-size: 14px
}

.comment__name {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: GothamPro-Black;
    font-size: 17px;
    text-transform: uppercase
}

.comment__image {
    margin-right: 20px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #f2f4f6
}

@media (min-width:890px) {
    .comment__text {
        width: 75%
    }
}

.comment:last-child {
    margin-bottom: 0
}

@media (min-width:890px) {
    .comment {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.header {
    width: 100vw;
    margin-right: -5vw;
    margin-left: -5vw;
    padding: 15px 5vw;
    background-color: #0747a6;
    z-index: 2
}

.header--author {
    background-color: #f2f4f6
}

.header__wrapper--author {
    background-color: #f2f4f6;
    color: #172b4d
}

@media (min-width:580px) {
    .header {
        margin-right: -3.9vw;
        margin-left: -3.9vw
    }
}

@media (min-width:890px) {
    .header {
        padding: 25px 3.9vw
    }
}

@media (min-width:1700px) {
    .header {
        margin-right: -19.4vw;
        margin-left: -19.4vw;
        padding-right: 19.4vw;
        padding-left: 19.4vw
    }
}

.header__wrapper--author .header__logo {
    color: #172b4d
}

.author-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto
}

.author-info__name {
    font-family: GothamPro-Bold;
    font-size: 16px;
    display: none
}

@media (min-width:580px) {
    .author-info__name {
        margin-right: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width:1100px) {
    .author-info__name {
        margin-right: 0
    }
}

.author-info__image {
    margin-right: 15px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #f2f4f6
}

.statistics {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.statistics__count {
    font-family: GothamPro-Black;
    font-size: 20px
}

@media (min-width:580px) {
    .statistics__count {
        font-size: 22px
    }
}

.statistics__icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    fill: #172b4d
}

.statistics__read-text, .statistics__show-text {
    width: 100%
}

.statistics__heading {
    margin-bottom: 12px;
    width: 100%;
    font-family: GothamPro-Black;
    font-size: 14px;
    text-transform: uppercase
}

@media (min-width:580px) {
    .statistics__heading {
        margin-bottom: 17px
    }
}

.statistics__read-wrapper, .statistics__show-wrapper {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (min-width:580px) {
    .statistics {
        margin-bottom: 0;
        width: 50%
    }
}

.author-article .statistics__heading, .author-article .statistics__read-text, .author-article .statistics__show-text {
    display: none
}

.author-article .statistics__read-wrapper, .author-article .statistics__show-wrapper {
    width: auto;
    margin-right: 15px
}

.author-article .statistics {
    margin-bottom: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.author-article .statistics__icon {
    margin-right: 5px;
    width: 26px;
    height: 26px;
    fill: #b7c6dd
}

.author-article .statistics__count {
    font-family: GothamPro-Black;
    font-size: 14px;
    color: #b7c6dd
}

.author-articles-section {
    margin-right: -5vw;
    margin-left: -5vw;
    margin-bottom: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.author-articles-section, .author-articles-section__article-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:580px) {
    .author-articles-section__article-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (min-width:890px) {
    .author-articles-section__article-wrapper {
        margin-right: -7px;
        margin-left: -7px
    }
}

@media (min-width:580px) {
    .author-articles-section {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:890px) {
    .author-articles-section {
        padding: 0
    }
}

.author-article {
    margin-bottom: 14px;
    margin-right: -5vw;
    margin-left: -5vw;
    background-color: #f2f4f6;
    position: relative
}

.author-article__image {
    border-radius: 4px 4px 0 0;
    margin-bottom: -7px
}

.author-article__text {
    font-size: 14px;
    line-height: 20px
}

.author-article__content, .author-article__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.author-article__content {
    max-width: 100%;
    top: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    position: absolute;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
    color: #fff;
    z-index: 1
}

@media (min-width:580px) {
    .author-article__content {
        padding-left: 1.4vw;
        padding-right: 1.4vw
    }
}

.author-article__heading {
    -webkit-margin-after: 10px;
    margin-block-end: 10px;
    font-family: GothamPro-Black;
    text-transform: uppercase;
    font-size: 18px
}

@media (min-width:580px) {
    .author-article__heading {
        font-size: 22px;
        line-height: 26px
    }
}

@media (min-width:1700px) {
    .author-article__heading {
        max-width: 77%
    }
}

.author-article__link-source {
    margin-right: 15px;
    text-transform: uppercase;
    color: #b7c6dd;
    font-family: GothamPro-Black;
    font-size: 14px
}

.author-article__link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:580px) {
    .author-article__link-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media (min-width:580px) {
    .author-article:nth-child(odd) {
        padding-right: 7px
    }
}

@media (min-width:890px) {
    .author-article:nth-child(odd) {
        padding-left: 7px
    }
}

@media (min-width:580px) {
    .author-article:nth-child(2n) {
        padding-left: 7px
    }
}

@media (min-width:890px) {
    .author-article:nth-child(2n) {
        padding-right: 7px
    }
}

@media (min-width:580px) {
    .author-article {
        margin-right: 0;
        margin-left: 0;
        width: 50%
    }
}

@media (min-width:890px) {
    .author-article {
        width: 33%
    }
}

.page-main {
    max-width: 100%;
    padding: 0 5vw;
    overflow: hidden;
    background-color: #f2f4f6
}

@media (min-width:580px) {
    .page-main {
        padding: 0 3.9vw
    }
}

@media (min-width:1700px) {
    .page-main {
        padding: 0 19.4vw
    }
}

@media (min-width:1920px) {
    .site-content {
        margin: 0 auto;
        max-width: 1175px
    }
}