-
  var mainMenu = [
    {
      "id": "0",
      "name": "Main",
      "url": "/"
    },
    {
      "id": "10",
      "name": "My works",
      "url": "/works",
    },
    {
      "id": "20",
      "name": "Отзывы",
      "url": "/works",
    },
    {
      "id": "30",
      "name": "Contact me",
      "url": "/contact",
    },
  ];
